<div class="row">
    <div class="col-lg-12">
        <h4 class="mtm mbm text-uppercase  text-orange"> <strong>Address</strong> </h4>
    </div>
</div>
<div class="row mbm">
    <div class="col-sm-12 text-14">
        
        <a href="javascript:void(0)" (click)="openModal(template)" class="btn btn-md btn-default"><i class="fa fa-plus-square text-orange"></i> Add Address</a>
        <ng-template #template>
            <div class="modal-header">
              <h4 class="modal-title pull-left text-orange">Add Adress </h4>

           

              <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form name="frmIncident" #f="ngForm">
                
              <div class="row mtm">
                  <!-- <div class="col-lg-12">
                      <div class="form-group" ><label class="control-label">Address Type</label>
                   
                          <input type="text"
                          #IncidentDate="ngModel"
                          id="txtaddressType"
                          name="addressType"
                        
                          [(ngModel)]="model.addressType"
                          class="form-control"
                            >
                  
                      </div>
                  </div> -->
                  <div class="col-lg-12">
                    <div class="form-group" ><label class="control-label">C/O Name</label>
                 
                        <input type="text"
                        #owner="ngModel"
                        id="txtowner"
                        name="owner"
            
                        [(ngModel)]="model.owner"
                        class="form-control"
                          >
                
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group" ><label class="control-label">Apt / Unit</label>
                 
                        <input type="text"
                        #flatNo="ngModel"
                        id="txtflatNo"
                        name="flatNo"
                    
                        [(ngModel)]="model.flatNo"
                        class="form-control"
                          >
                
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group" ><label class="control-label">Address</label>
                 
                        <input type="text"
                        #address="ngModel"
                        id="txtaddress"
                        name="address"
                     
                        [(ngModel)]="model.address"
                        class="form-control"
                          >
                
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group" ><label class="control-label">Country</label>
                 
                        <input type="text"
                        #country="ngModel"
                        id="txtcountry"
                        name="country"
                     
                        [(ngModel)]="model.country"
                        class="form-control"
                          >
                
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group" ><label class="control-label">State</label>
                 
                        <input type="text"
                        #state="ngModel"
                        id="txtstate"
                        name="state"
                   
                        [(ngModel)]="model.state"
                        class="form-control"
                          >
                
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group" ><label class="control-label">City</label>
                 
                        <input type="text"
                        #city="ngModel"
                        id="txtcity"
                        name="city"
                     
                        [(ngModel)]="model.city"
                        class="form-control"
                          >
                
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group" ><label class="control-label">Zip Code</label>
                 
                        <input type="text"
                        #zipCode="ngModel"
                        id="txtzipCode"
                        name="zipCode"
                     
                        [(ngModel)]="model.zipCode"
                        class="form-control"
                          >
                
                    </div>
                </div>
          
                
                   </div>
                   <div class="row mtm">
                      <div class="col-sm-12 col-xs-12 text-center">
                              <button type="button" (click)="saveAddress()"
                       

                [disabled]="f.invalid"
                              
                              class="btn btn-lg btn-dark">Save</button>
                          </div>
</div>
              </form>
            </div>
          </ng-template>

    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel">
            <div class="panel-body ptn pbn">
                <div class="row">
                    <div class="col-sm-12"> </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped mbn">
                            <tbody>
                                <tr>
                                    <td>
                                        Address
                                    </td>
                                    <td>
                                        {{model.address}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Apt/Floor
                                    </td>
                                    <td>
                                  {{model.flatNo}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        City
                                    </td>
                                    <td>
                                        {{model.city}}
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        County
                                    </td>
                                    <td>
                                        {{model.country}}
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        State
                                    </td>
                                    <td>
                                        {{model.state}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Zip
                                    </td>
                                    <td>
                                        {{model.zipCode}}
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <div class="col-lg-6">
        <div class="panel panel-orange">
            <div class="panel-heading"><i class="fa fa-map-marker"></i>       {{model.address}},   {{model.flatNo}},     {{model.city}}	</div>
            <div class="panel-body ptn pbn">
                <div class="row">
                    <div class="col-sm-12">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55565170.29301636!2d-132.08532758867793!3d31.786060306224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited%20States!5e0!3m2!1sen!2sin!4v1644488535402!5m2!1sen!2sin" width="100%" height="220px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>
