<div class="row">
    <div class="col-lg-12">
        <h4 class="mtm mbm text-uppercase  text-orange"> <strong>Declined Cases</strong> </h4>

    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
        <div class="row mbm">
            <div class="col-sm-12 text-14">
                <a href="javascript:void(0)" (click)="openModal(template)" class="btn btn-md btn-default"><i class="fa fa-plus-square text-orange"></i> Add Declined Cases</a>
            </div>
            <ng-template #template>
              <div class="modal-header">
                <h4 class="modal-title pull-left text-orange">Add Declined Cases</h4>
  
             
  
                <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                  <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form name="frmRate" #f="ngForm">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                           <label class="control-label">Reprted Date/Time:</label>
                            <div class="input-icon right"><i class="fa fa-calendar"></i>                                
                                <input type="text" #RepotedDate="ngModel" id="txtEffectiveDate"name="RepotedDate"
                                placeholder="Date Time" [(ngModel)]="model.RepotedDate" class="form-control"  bsDatepicker> 
                            </div>
                        </div>
                        </div>
                        <div class="col-lg-4">                           
                                <div class="form-group">
                            <label class="control-label">Client</label>
                            <select
                            class="form-control"
                            #ClientId="ngModel"                                   
                            id="ddlTypeStatusId"
                            name="ClientId"                                   
                            [(ngModel)]="model.clientId"                                       
                          > 
                          <option value="" disabled>Select</option>
                                        <option
                                          *ngFor="let obj of ClientList"
                                          [value]="obj.clientId"
                                        >
                                          {{ obj.clientName }}
                                        </option>
                                                          
                                </select>
                                   
                        </div>
                        
                        
                        </div>
                        <div class="col-lg-4">
                           
                            <div class="form-group">
                        <label class="control-label">Case Type</label>
                        <select
                        class="form-control"
                        #Casetypeid="ngModel"                                   
                        id="ddlTypeStatusId"
                        name="Casetypeid"                                   
                        [(ngModel)]="model.Casetypeid"                                       
                      > 
                      <option value="" disabled>Select</option>
                                    <option value="1">Parmanent</option>
                                 <option value="2">Full-In</option>
                                                      
                        </select>
                               
                        </div>
                  
                    
                       </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="control-label">Decline Reason</label>
                                <input type="textarea" #DeclineReason="ngModel"name="DeclineReason"  [(ngModel)]="model.DeclineReason" class="form-control">
                             </div>
                        </div>
                        <div class="col-lg-4">
                        <div class="form-group">
                                <label class="control-label">Assignment Started</label>
                                 <div class="input-icon right"><i class="fa fa-calendar"></i>
                                     
                                     <input type="text" #AssignmentStart="ngModel" id="txtEffectiveDate"name="AssignmentStart"
                                     placeholder="Assignment Date" [(ngModel)]="model.AssignmentStart" class="form-control"  bsDatepicker> 
                                 </div>                                 
                        </div>
                        
                    </div>
                    <div class="col-lg-2">
                    <label class="control-label">Day</label>
                                 <select
                                 class="form-control"
                                 #Day="ngModel"                                   
                                 id="ddlTypeStatusId"
                                 name="Day"                                   
                                 [(ngModel)]="model.Day"                                       
                               > 
                               <option value="" disabled>Select</option>
                                 <option value="1">1</option>
                                 <option value="2">2</option>
                                 <option value="3">3</option>
                                 <option value="4">4</option>
                                 <option value="5">5</option>                    
                                 <option value="6">6</option>
                                 <option value="7">7</option>
                                 <option value="8">8</option>
                                 <option value="9">9</option>
                                     </select>
                    </div>
                    <div class="col-lg-2">
                        <label class="control-label">Week</label>
                                     <select
                                     class="form-control"
                                     #week="ngModel"                                   
                                     id="ddlTypeStatusId"
                                     name="week"                                   
                                     [(ngModel)]="model.week"                                       
                                   > 
                                   <option value="" disabled>Select</option>
                                     <option value="1">1</option>
                                     <option value="2">2</option>
                                     <option value="3">3</option>
                                     <option value="4">4</option>
                                     <option value="5">5</option>                    
                                     <option value="6">6</option>
                                     <option value="7">7</option>                                    
                                         </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                        <label class="control-label">Notes</label>
                        <input type="textarea" #Note="ngModel"  [(ngModel)]="model.Note" id="txtNote"name="Note"
                        class="form-control">
                                </div>
                        </div>				
                    
                        </div>
                  
                       
                   
                        <div class="row">
                        <div class="col-lg-12 text-center">
                            <button type="button" (click)="onClickSubmit()" class="btn btn-md btn-dark">Add Declined Cases</button>
                        </div>
                        </div>
                  
              
                </form>
              </div>
            </ng-template>
        </div>
        <div class="row mbm">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Date Time	</th>
                                <th>client	</th>
                                <th>Case Type</th>
                                <th>Case Start Date</th>
                                <th>Discription</th>
                           
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of EmpCaseObj">
                                <td><input type="checkbox" /></td>
                                <td>{{ item.effectiveDates }}</td>
                                <td>{{ item.ragularrate }}</td>
                                <td>{{ item.overTimeRate }}</td>
                                <td>{{ item.discription }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </div>
  