<div class="row">
  <div class="col-lg-12">
      <h4 class="mtm mbm text-uppercase  text-orange"> <strong>Emergency Info</strong> </h4>      
    
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
      <div class="row mbm">
          <div class="col-sm-12 text-14">
            

              <ng-template #template>  
      
                <div class="modal-header">  
                 
                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef?.hide()">  
                    <span aria-hidden="true">×</span>  
                  </button>  
                </div> 
                <form name="frmStatus" #f="ngForm">
                <div class="modal-body"> 

                

                  <div class="row">
                    <div class="col-sm-12 text-14">
                      <div class="form-group">
                    <label class="control-label">Name</label>
                    <input type="text"   #firstName="ngModel" id="ddlTypeStatusId" name="firstName" class="form-control"  [(ngModel)]="model.firstName"   >
                        </div>
                    </div>
                    
                  
                    </div>
<div class="row">
<div class="col-sm-12 text-14">
  <div class="form-group">
<label class="control-label">Relationship</label>
<input type="text"   #relationship="ngModel" id="ddlTypeStatusId"  name="relationship" class="form-control"  [(ngModel)]="model.relationship">
</div>
  </div>
</div>

<div class="row">
<div class="col-sm-12 text-14">
  <div class="form-group">
    <label class="control-label">Phone</label><br>
    <input type="text" #phone="ngModel" id="txtResume"name="phone" [(ngModel)]="model.phone" >
</div>
  </div>
</div>

<div class="row">
<div class="col-sm-12 text-14">
  <div class="form-group">
    <label class="control-label">Email</label><br>
    <input type="text" #email="ngModel" id="txtRehire"name="email" [(ngModel)]="model.email" >
</div>
  </div>
</div>
              
                    <div class="row">
                    <div class="col-lg-12 text-center">
                      <button type="button" (click)="onClickSubmit()" class="btn btn-md btn-dark">Save</button>
                    </div>
                      </div>
                </div>  
              
                 </form>                
              </ng-template> 



              <ng-template #template1>  
      
                <div class="modal-header">  
                
                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef?.hide()">  
                    <span aria-hidden="true">×</span>  
                  </button>  
                </div> 
                <form name="frmStatus" #f="ngForm">
                <div class="modal-body"> 



                
                  <div class="row">
                    <div class="col-sm-6 text-14">
                      <div class="form-group">
                    <!-- <input type="text" hidden #id="ngModel" id="ddlTypeStatusId" name="id" class="form-control"  [(ngModel)]="model.id" />
                    <input type="text" hidden #type="ngModel" id="ddlTypeStatusId" name="type" class="form-control"  [(ngModel)]="model.type" /> -->
                    <label class="control-label">First Name</label>
                    <input type="text" required  #firstName="ngModel" id="ddlTypeStatusId" name="firstName" class="form-control"  [(ngModel)]="model.firstName"   >
                        </div>
                    </div>

                    <div class="col-sm-6 text-14">
                      <div class="form-group">
                        <label class="control-label"></label>
                    <input type="text" required   #lastName="ngModel" id="ddlTypeStatusId" name="lastName" class="form-control"  [(ngModel)]="model.lastName"   >
                        </div>
                    </div>
                  
                    </div>
<div class="row">
<div class="col-sm-6 text-14">
  <div class="form-group">
<label class="control-label">Title</label>
<input type="text"   #title="ngModel" id="ddlTypeStatusId"  name="title" class="form-control"  [(ngModel)]="model.title">
</div>
  </div>

  <div class="col-sm-6 text-14">
    <div class="form-group">
  <label class="control-label">NPI Number</label>
  <input type="text"   #nPINumber="ngModel" id="ddlTypeStatusId"  name="nPINumber" class="form-control"  [(ngModel)]="model.nPINumber">
  </div>
    </div>
</div>
<div class="row">
<div class="col-sm-6 text-14">
  <div class="form-group">
<label class="control-label">Address</label>
<input type="text"   #address="ngModel" id="ddlTypeStatusId"  name="address" class="form-control"  [(ngModel)]="model.address">
</div>
  </div>

  <div class="col-sm-6 text-14">
    <div class="form-group">
  <label class="control-label">City</label>
  <input type="text"   #city="ngModel" id="ddlTypeStatusId"  name="city" class="form-control"  [(ngModel)]="model.city">
  </div>
    </div>
</div>


<div class="row">
<div class="col-sm-6 text-14">
  <div class="form-group">
<label class="control-label">State</label>
<input type="text"   #state="ngModel" id="ddlTypeStatusId"  name="state" class="form-control"  [(ngModel)]="model.state">
</div>
  </div>

  <div class="col-sm-6 text-14">
    <div class="form-group">
  <label class="control-label">Zip</label>
  <input type="text"   #zip="ngModel" id="ddlTypeStatusId"  name="zip" class="form-control"  [(ngModel)]="model.zip">
  </div>
    </div>
</div>



<div class="row">
<div class="col-sm-6 text-14">
  <div class="form-group">
<label class="control-label">License</label>
<input type="text"   #license="ngModel" id="ddlTypeStatusId"  name="license" class="form-control"  [(ngModel)]="model.license">
</div>
  </div>

  <div class="col-sm-6 text-14">
    <div class="form-group">
  <label class="control-label">License Expires</label>
  <input type="text" #licenseExpires="ngModel" id="txtEffectiveDate"name="licenseExpires"
                           [(ngModel)]="model.licenseExpires" class="form-control"  bsDatepicker  >
  <!-- <input type="text"   #licenseExpires="ngModel" id="ddlTypeStatusId"  name="licenseExpires" class="form-control"  [(ngModel)]="model.licenseExpires"> -->
  </div>
    </div>
</div>




<div class="row">
<div class="col-sm-4 text-14">
  <div class="form-group">
<label class="control-label">Email</label>
<input type="text"   #email="ngModel" id="ddlTypeStatusId"  name="email" class="form-control"  [(ngModel)]="model.email">
</div>
  </div>

  <div class="col-sm-4 text-14">
    <div class="form-group">
  <label class="control-label">Phone</label>
  <input type="text"   #phone="ngModel" id="ddlTypeStatusId"  name="phone" class="form-control"  [(ngModel)]="model.phone">
  </div>
    </div>

    <div class="col-sm-4 text-14">
      <div class="form-group">
    <label class="control-label">Fax</label>
    <input type="text"   #fax="ngModel" id="ddlTypeStatusId"  name="fax" class="form-control"  [(ngModel)]="model.fax">
    </div>
      </div>
</div>


                    <div class="row">
                    <div class="col-lg-12 text-center">
                      <button type="button" (click)="onClickSubmit()" class="btn btn-md btn-dark">Save</button>
                    </div>
                      </div>
                </div>  
              
                 </form>                
              </ng-template> 


          </div>
      </div>
      <div class="row mbm">
      <div class="col-sm-6" *ngFor="let item of EmergencyInfoLst">
       
           <div class="table-responsive"  *ngIf="item.typeId<3">
                  <div class="table-responsive">
                      <table class="table table-bordered table-striped">
                          <thead>
                            
                              <tr>
                                  <th>{{item.typeName}}</th>  
                                 
                                  <th>
                                  <button type="button"  (click)="openModal(template,item)">Edit</button></th>                                   
                              </tr>
                              <!-- <tr>
                                <th>Emergency Contact</th>  
                                <th><i class="fa fa-trash-o text-red medium-txt pts"></i></th>                                   
                            </tr> -->
                              
                          </thead>
                         <tbody>
                             
                                  <tr>
                                  <td>Name</td>
                                  <td> 
                                    {{ item.firstName }}
                                   
                                    </td>
                                  </tr>
                                   <tr>
                                    <td>Relationship</td>
                                    <td>{{ item.relationship }}</td>
                                    </tr>
                                    <tr>
                                      <td>Contact Phone</td>
                                      <td>{{ item.phone }}</td>
                                      </tr>
                                      <tr>
                                        <td>Contact Email</td>
                                        <td>{{ item.email }}</td>
                                        </tr> 
                             

                          </tbody>
                      </table>
              </div>
          </div>
        
             
      </div>
      
  </div>
</div>
  </div>


<div class="row">
  <div class="col-lg-12" *ngFor="let item of EmergencyInfoLst">
      <div class="table-responsive" *ngIf="item.typeId>2">
          <div class="table-responsive">
              <table class="table table-bordered table-striped">
                  <thead>
                      <tr>
                          <th>{{item.typeName}}</th> 
                          <th>
                            </th> 
                            <th></th> 
                          <th>
                            <button type="button"  (click)="openModal(template1,item)">Edit</button></th> 
                      </tr>
                      <tr>
                        <td>Name</td>
                        <td> 
                          {{ item.firstName }}  {{ item.lastName }}
                         
                          </td>
                          <td>License</td>
                          <td>{{ item.license }}</td>
                        </tr>
                         <tr>
                          <td>Title</td>
                          <td>{{ item.title }}</td>
                          <td>License Expires</td>
                          <td>{{ item.licenseExpires }}</td>
                          </tr>
                          <tr>
                            <td>NPI Number</td>
                            <td>{{ item.nPINumber }}</td>
                            <td>Email</td>
                            <td>{{ item.email }}</td>
                            </tr>
                            <tr>
                              <td>Address</td>
                              <td>{{ item.address }}</td>
                              <td>Phone</td>
                              <td>{{ item.phone }}</td>
                              </tr> 

                              <tr>
                                <td>City, State, Zip</td>
                                <td>{{ item.city }}   {{ item.state }}   {{ item.zip }}</td>
                                <td>Fax</td>
                                <td>{{ item.fax }}</td>
                                </tr> 

                               
                   
                      
                  </thead>
                
              </table>
      </div>
  </div>
     
  </div>
  <div class="col-lg-12">
    <button type="button" (click)="CreateNewContact(template1)">Create New Contact</button>
  </div>
</div>
