<div class="modal-header">

    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
        <div class="col-sm-12 col-xs-12">
                               <div class="form-group text-center">                                                   
                                 <h4 class="mtn mbs"><strong> {{momObj.meetingDate}}</strong></h4>
                                 <h3 class="text-orange mtn mbs"><strong>{{momObj.startTime}} - {{momObj.endTime}}</strong></h3>
                                   <h3 class="text-orange mtn mbs"><strong>Hourly</strong></h3>
          </div>
                           </div>
    
        </div>
                <div class="row">
       <div class="col-sm-6 col-xs-12">
              <div class="panel mbn">
                <div class="panel-body">	
                               
                                   <p>CLIENT</p>
                                     <p><i class="fa fa-calendar medium-txt mrm"></i><i class="fa fa-user medium-txt mrm"></i><i class="fa fa-edit medium-txt"></i> </p>
                                 <hr class="mtn mbn">
                                 <h3><strong>{{momObj.client.lastname}}, {{momObj.client.firstName}}</strong></h3>												
                                 <p><i class="fa fa-map-marker text-orange"></i> 117 Slack Avenue Apt 204 Lawrence Township NJ 08648</p>
                                   <p><i class="fa fa-phone text-orange "></i> Phone: (609) 498-0438</p>
                                   <p>Payer: <strong>HORIZON NJ HEALTH</strong></p>
                                   <p>Code: <strong>T1019</strong></p>												
                                                           
                           </div>
    
        </div>
        </div>
                    <div class="col-sm-6 col-xs-12">
              <div class="panel mbn">
                <div class="panel-body" >		
                             
                  <p>EMPLOYEE</p>
                  <p><i class="fa fa-calendar medium-txt mrm"></i><i class="fa fa-user medium-txt mrm"></i><i class="fa fa-edit medium-txt"></i> </p>
              <hr class="mtn mbn">
              <h3><strong>{{momObj.employee.lastname}}, {{momObj.employee.firstName}}</strong></h3>										
              <p><i class="fa fa-map-marker text-orange"></i> {{momObj.employee.address.flatNo}}, {{momObj.employee.address.locationDetail}},  {{momObj.employee.address.country}}, {{momObj.employee.address.state}},
             
             
                {{momObj.employee.address.city}},{{momObj.employee.address.zipCode}},
</p>
                <p><i class="fa fa-phone text-orange "></i> Phone: {{momObj.employee.cellPhone}}</p>
                <p>Payer: <strong>HORIZON NJ HEALTH</strong></p>
                <p>Code: <strong>T1019</strong></p>			
                                                                       
                                   
        
                           </div>
    
        </div>
        </div>
         
       </div>
               <hr class="mtn mbn">
                <div class="row">
       <div class="col-sm-12 col-xs-12">
           <p class="mbn"><i  class="fa fa-envelope text-orange"></i> <strong>Send message to Employee</strong></p>
           <p class="small-txt">Message will be sent to . Reply will be sent to coordinator's cellphone.</p>
           </div>
         
       </div>
               <hr class="mtn mbn">
               <div class="row">
       <div class="col-sm-12 col-xs-12">
           <p class="mbn text-14"><strong>Notes</strong></p>
           <p class="small-txt"><a href=""><i class="fa fa-plus-square-o"></i> Add Notes</a></p>
           </div>
         
       </div>
               <hr class="mtn mbn">
               <div class="row">
       <div class="col-sm-12 col-xs-12">
           <p class="mbn text-14"><strong>Status</strong></p>
         <div class="row mtm">
           <div class="col-sm-3 col-xs-3 text-center">
               <p class="mbs">AUTHORIZED<br><span class="small-txt">FOR SERVICE</span></p>
               <input type="checkbox" />
               </div>
               <div class="col-sm-3 col-xs-3 text-center">
               <p class="mbs">CONFIRMED<br><span class="small-txt">FOR BILLING</span></p>
               <input type="checkbox" />
               </div>
               <div class="col-sm-3 col-xs-3 text-center">
               <p class="mbs">VERIFIED<br><span class="small-txt">FOR PAYROLL</span></p>
               <input type="checkbox" />
               </div>
               <div class="col-sm-3 col-xs-3 text-center">
               <p class="mbl">BILLED<br></p>
               <input type="checkbox" />
               </div>
           </div>
           
           </div>
         
       </div>
               <hr class="mtn mbn">
               <div class="row mbm mtl">
       <div class="col-sm-12 col-xs-12 text-center">
           
           <button type="button" class="btn btn-sm btn-primary">MAKE CHANGES</button>&nbsp;&nbsp;
           <button type="button" class="btn btn-sm btn-primary">CANCELLED BY CLIENT</button>&nbsp;&nbsp;
           <button type="button" class="btn btn-sm btn-primary">DELETE</button>
           
           </div>
         
       </div>
               <hr class="mtn mbn">
               <div class="row">
       <div class="col-sm-12 col-xs-12">
           <p class="mbn text-14"><i class="fa fa-plus-square-o"></i> <strong>History</strong></p>
           <p class="small-txt">2/17/2022 2:46:00 PM - appointment added by Diana Ruano</p>
           </div>
         
       </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
  </div>
