<div class="row">
    <div class="col-lg-12">
        <h4 class="mtm mbm text-uppercase  text-orange"> <strong>Other</strong> </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-xs-6">
        <button type="button" class="btn btn-md btn-dark mbm mts" (click)="saveChangesModel()">
            <i class='fa fa-save'></i> Save changes
        </button></div>
    </div>
  <div class="row">
        <div class="col-lg-6">
            <ul class="list-group">
                <li class="list-group-item">
                    <p><strong class="mrs">CASA3:</strong>
                    </p>
                    <div class="form-group">                            
                        <input required type="text" placeholder="CASA3" class="form-control" id="txtCASA3" name="CASA3" #FirstName="ngModel" [(ngModel)]="model.cASA3">
                    </div>
                </li>
                <li class="list-group-item">
                    <p><strong class="mrs">Contact Id:</strong>
                        </p>
                        <div class="form-group">                            
                            <input required type="text" placeholder="contact Id" class="form-control" id="txtCASA3" name="contactId" #contactId="ngModel" [(ngModel)]="model.contactId">
                        </div>
                </li>
                <li class="list-group-item">                
                    <p><strong class="mrs">Insurance Grp #:</strong>
                    </p>
                    <div class="form-group">                            
                        <input required type="text" placeholder="Insurance Grp #" class="form-control" id="txtinsuranceGrp" name="insuranceGrp" #insuranceGrp="ngModel" [(ngModel)]="model.insuranceGrp">
                    </div>
                </li>
                <li class="list-group-item">                
                    <p><strong class="mrs">Allergies:</strong>
                    </p>
                    <div class="form-group">                            
                        <input required type="text" placeholder="Allergies" class="form-control" id="txtallergies" name="allergies" #allergies="ngModel" [(ngModel)]="model.allergies">
                       <h6> Separate multiple by commas</h6>
                    </div>
                </li>
                <li class="list-group-item">                
                  
                    <p><strong class="mrs">Medications:</strong>
                    </p>
                    <div class="form-group">                            
                        <input required type="checkbox"   name="isMedications" #isMedications="ngModel" [(ngModel)]="model.isMedications">
                    </div>
                </li>
                <li class="list-group-item">                
                  
                    <p><strong class="mrs">Dialysis:</strong>
                    </p>
                    <div class="form-group">                            
                        <input required type="checkbox"   name="isDialysis" #isDialysis="ngModel" [(ngModel)]="model.isDialysis">
                    </div>
                </li>



                <li class="list-group-item">                
                  
                    <p><strong class="mrs">Oxygen:</strong>
                    </p>
                    <div class="form-group">                            
                        <input required type="checkbox"   name="isOxygen" #isOxygen="ngModel" [(ngModel)]="model.isOxygen">
                    </div>
                </li>

                <li class="list-group-item">                
                  
                    <p><strong class="mrs">Aids:</strong>
                    </p>
                    <div class="form-group">                            
                        <input required type="checkbox"   name="isAids" #isAids="ngModel" [(ngModel)]="model.isAids">
                    </div>
                </li>



                <li class="list-group-item">                
                  
                    <p><strong class="mrs">Court Ordered:</strong>
                    </p>
                    <div class="form-group">                            
                        <input required type="checkbox"   name="isAids" #isCourtOrdered="ngModel" [(ngModel)]="model.isCourtOrdered">
                    </div>
                </li>

                <li class="list-group-item">                
                  
                    <p><strong class="mrs">Don't Resuscitate :</strong>
                    </p>
                    <div class="form-group">                            
                        <input required type="checkbox"   name="isResuscitate" #isResuscitate="ngModel" [(ngModel)]="model.isResuscitate">
                    </div>
                </li>             

            </ul>
  </div>
   
  <div class="col-lg-6">
        
    <ul class="list-group">
        <li class="list-group-item">

     
            <p><strong class="mrs">
                Linked Clients:</strong>
            </p>
            <div class="form-group">                            
                <input required type="text" placeholder="CASA3" class="form-control" id="txtCASA3" name="CASA3" #FirstName="ngModel" [(ngModel)]="model.cASA3">
            </div>


        </li>
        <li class="list-group-item">
        
            <p><strong class="mrs">Area Shelter Name:</strong>
                </p>
                <div class="form-group">                            
                    <input required type="text" placeholder="Shelter Name" class="form-control" id="txtshelterName" name="shelterName" #FirstName="ngModel" [(ngModel)]="model.shelterName">
                </div>



        </li>
        <li class="list-group-item">                
          
            <p><strong class="mrs">TAL Code
                
                Transportation Assistance Level:</strong>
            </p>
            <div class="form-group">                            
                <input required type="text" placeholder="Tal Code" class="form-control" id="txttalCode" name="talCode" #talCode="ngModel" [(ngModel)]="model.talCode">
            </div>
        </li>
        <li class="list-group-item">                
          
            <p><strong class="mrs">Shelter
                Address/Phone/Contact:</strong>
            </p>
            <div class="form-group">                            
                <input required type="text" placeholder="Shelter" class="form-control" id="txtshelter" name="shelter" #shelter="ngModel" [(ngModel)]="model.shelter">
            </div>
        </li>
        <li class="list-group-item">                
          
            <p><strong class="mrs">Facility:</strong>
            </p>
            <div class="form-group">                            
                <input required type="text" placeholder="Facility" class="form-control" id="txtfacility" name="facility" #facility="ngModel" [(ngModel)]="model.facility">
            </div>
        </li>
        <li class="list-group-item">                
          
            <p><strong class="mrs">Room:</strong>
            </p>
            <div class="form-group">                            
                <input required type="text" placeholder="Room" class="form-control" id="txtroom" name="room" #room="ngModel" [(ngModel)]="model.room">
            </div>
        </li>
        <li class="list-group-item">                
          
            <p><strong class="mrs">Service Request Date:</strong>
            </p>
            <div class="form-group">  
                <div class="input-icon right"><i class="fa fa-calendar"></i>                               
                <input required type="text" placeholder="dd-MM-YYYY" class="form-control" id="txtserviceRequestDate" name="serviceRequestDate" #serviceRequestDate="ngModel" [(ngModel)]="model.serviceRequestDate" bsDatepicker >
            </div>
        </div>
        </li>

        <li class="list-group-item">                
          
            <p><strong class="mrs">Plan Of Care Date :</strong>
            </p>
            <div class="form-group">      
                <div class="input-icon right"><i class="fa fa-calendar"></i>                           
                <input required type="text" placeholder="dd-MM-YYYY" class="form-control" id="txtcareDate" name="careDate" #careDate="ngModel" [(ngModel)]="model.careDate" bsDatepicker>
            </div>
        </div>
        </li>

        <li class="list-group-item">                
          
            <p><strong class="mrs">Projected Discharge:</strong>
            </p>
            <div class="form-group">      
                <div class="input-icon right"><i class="fa fa-calendar"></i>                         
                <input required type="text" placeholder="dd-MM-YYYY" class="form-control" id="txtdischargeDate" name="dischargeDate" #dischargeDate="ngModel" [(ngModel)]="model.dischargeDate" bsDatepicker>
            </div>            </div>
        </li>


        <li class="list-group-item">                
          
            <p><strong class="mrs">Notes:</strong>
            </p>
            <div class="form-group">      
                                    
                <textarea  type="text"  class="form-control" id="txtnotes" name="notes" #notes="ngModel" [(ngModel)]="model.notes">
                </textarea>  
            </div>
        </li>

  

    </ul>
</div>
</div>
  