$mainColor:#fd6768;
$background-color: #e7dad9;

.Employee-list-page {
    min-height: 100vh;
    min-width: 100vw;
    background-color: $background-color;

    .heading {
        padding: 10px 0 0 10px;
        position: relative;

        h2 {
            display: inline-block;
            font-size: 20px;
            font-weight: bolder;
            color: #4d4d4c;
        }

        .alphabets {
            display: inline-block;
            text-align: right;

            span {
                display: inline-block;
                text-align: center;
                width: 25px;
                height: 25px;
                background-color: #E8D9D9;
                opacity: 0.8;
                border: 1px solid #fff;
                color: #acaca5;
                border-style: inset;
                font-weight: bolder;
                font-size: 14px;
            }

            span.all {
                background-color: #7daee0;
                color: #fff;
                padding: 0 5px;
                width: 35px;
            }
        }
    }

    padding-bottom: 10px;
}

.demo-table {
    min-width: 100%;
    overflow-x: auto;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
    font-weight: bold;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
}

.demo-row-is-clicked {
    font-weight: bold;
}

.mat-row:nth-child(even),
.mat-header-row {
    background-color: $mainColor;
}

.mat-header-row {
    text-transform: uppercase;

}

.mat-header-cell {
    padding: 0 5px;
}

.mat-row:nth-child(odd) {
    background-color: $background-color;
}

form {
    width: 100vw;

    .container {
        margin: 10px;
    }
}

.form-container {
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;

    .form_element {
        margin: 10px 10px 0 10px;
        font-size: 0.8em;
        color: $mainColor;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        width: 110px;

        label {

            margin: 5% 0;
            font-size: 14px;
            width: 100%;
        }

        input,
        select {
            width: 100%;
            height: 30px;
            border: 0;
            border-radius: 10px;
        }

        select {
            appearance: none;
            background-image: url(../../../../assets/images/dropdown1.png);
            background-size: 20px 20px;
            background-repeat: no-repeat;
            background-position-x: 98%;
            background-position-y: 5px;
            cursor: pointer;
            padding-left: 5px;
        }
    }

    .emp-data {
        width: 250px;

        label {
            span {
                font-weight: normal;
                font-size: 10px;
                display: block;
            }
        }
    }
    button {
        width: 30px;
        height: 35px;
        background-color: $mainColor;
        color: #fff;
        border-radius: 10px;
        font-weight: bold;
        border: 0;
        font-size: 12px;
        margin-left: 10px;
    }
    .add-more{
        .add-emp{
            margin-left: 10px;
            font-size: 12px;
            color: #fd6768;
            cursor: pointer;
            img{
                width: 15px;
                height: 15px;
                margin: 5px;
            }
        }
    }
}



td,
th {
    border-collapse: collapse;
}

.table-wrapper {
    width: 90%;
    border: 2px solid $mainColor;
    margin: 5%;
    overflow-x: scroll;
}


.emp-table-container{
    .emp-table{
        width: 96%;
        height: 75vh;
        border: 10px solid #f98283;
    }
    ::ng-deep{
        .ag-body-viewport{

            background-color: #fff;
        }
        .ag-header-row{
            color:#FF6768 !important;
            background-color: #fff;
            font-size: 16px;
            font-weight: bolder;
        }
        .ag-row{
            color: #595150;
            font-size: 14px;
        }
        .ag-cell{
            padding: 0;
            text-align: center;
        }
        .ag-header-cell-label{
            justify-content: center;
        }
    }
    
}
@media(max-width: 600px) {
    .form-container {
        flex-direction: column;
        align-items: flex-start !important;
    }

    .form_element {
        align-items: center;
        margin: 50% 0;
        width: 90% !important;
        margin: 2%;
        flex-direction: row !important;
        label {
            width: 40%;
        }

        input {
            width: 40%;
        }
    }

    .demo-table {
        width: 90vw;
        overflow-x: visible;
        table-layout: fixed;
        border-collapse: collapse;

        tr {

            th,
            td {
                width: 100px;
                font-size: 12px;
                text-align: center;
            }
        }
    }

    .alphabets {
        position: relative !important;
        margin: 0 0 20px 10px;
        text-align: left !important;
    }
}