$mainColor:#fd6768;
$background-color: #e7dad9;

.client-list-page {
    min-height: 100vh;
    width: 100vw;
    background-color: $background-color;
    overflow-x: none;

    .heading {
        padding: 10px 0 0 10px;
        position: relative;

        h2 {
            display: inline-block;
            font-size: 20px;
            font-weight: bolder;
            color: #4d4d4c;
        }

        .alphabets {
            display: inline-block;
            text-align: right;
            padding-right: 20px;

            span {
                display: inline-block;
                text-align: center;
                width: 25px;
                height: 25px;
                background-color: #E8D9D9;
                opacity: 0.8;
                border: 1px solid #fff;
                color: #acaca5;
                border-style: inset;
                font-weight: bolder;
                font-size: 14px;
            }

            span.all {
                background-color: #7daee0;
                color: #fff;
                padding: 0 5px;
                width: 35px;
            }
        }
    }
}

.form-container {
    display: flex;
    align-items: flex-end;
    justify-content: right;
    padding-bottom: 10px;
    padding-right: 60px;

    .form_element {
        margin: 10px 10px 0 10px;
        font-size: 0.8em;
        color: $mainColor;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        width: 110px;
    

        label {

            margin: 5% 0;
            font-size: 14px;
            width: 100%;
        }

        input,
        select {
            width: 100%;
            height: 30px;
            border: 0;
            border-radius: 10px;
        }

        select {
            appearance: none;
            background-image: url(../../../../assets/images/dropdown1.png);
            background-size: 20px 20px;
            background-repeat: no-repeat;
            background-position-x: 98%;
            background-position-y: 5px;
            cursor: pointer;
            padding-left: 5px;
        }
    }
    .emp-data{
        width: 250px;
    }
    button {
        height: 35px;
        background-color: $mainColor;
        color: #fff;
        border-radius: 10px;
        font-weight: bold;
        border: 0;
        font-size: 12px;
        margin-left: 10px;
    }

    .add-more {
        .add-emp {
            margin-left: 10px;
            font-size: 12px;
            color: #fd6768;
            cursor: pointer;

            img {
                width: 15px;
                height: 15px;
                margin: 5px;
            }
        }
    }
}

.table-wrapper {
    border: 10px solid #FF6768;
    margin: 30px;
    background-color: #fff;
    font-size: 14px;
    width: 95%;
    overflow-x: scroll;

    .empid {
        display: block;
        color: rgba(140, 148, 70, 0.699);
        ;
        font-size: 18px;
        border-left: 1px solid gray;
        padding-left: 5px;
        font-weight: bolder;
    }

    .meeting {
        font-size: 12px;
        text-align: left;
        letter-spacing: 0;
        margin: 5px 0;
        padding: 3px;
        border-style: inset;
        border-width: 3px;
        background-color: #fff;

        span {
            &:first-child {
                letter-spacing: -1px;
                font-weight: bold;
            }
        }
    }

    th {
        color: #FF6768;
        text-transform: uppercase;
        background-color: #fff;
        text-align: center;
        border-bottom: 2px solid gray;
    }

    tr {

        td {
            overflow: visible;

            &:nth-child(10) {
                border-right: 0;
            }
        }
    }

    .content-calender {
        border: 2px solid gray;

    }

    td:last-of-type,
    .name-col {
        border-bottom: 2px solid gray;
    }

    tr:nth-child(odd) {
        background-color: #CCC
    }

    tr:nth-child(even) {
        background-color: #FFF
    }
}

.btn-warning img {
    height: 20px;
    width: 25px;
    fill: $mainColor;
    background-color: #fff;
}

.modal {
    .modal-header {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .modal-title {
        color: $mainColor;
        text-align: center;
        font-weight: bolder;
    }

    .header-date,
    .time {
        font-size: 22px;
    }

    .header-time {
        font-size: 32px;
    }
    .client-data{
        border-right: 1px solid gray;
    }
    
.client-data, .emp-data{
    width: 50%;
font-size: 14px;
    padding:0 20px;
    .header {
        font-size: 12px;
        font-weight: bolder;


        .right-tags {
            text-align: right;
            width: 100%;
            i {
                color: rgb(146, 145, 145);
                padding: 0 10px;
                font-size: 24px;
            }
           
        }
    }
    .name{
        font-weight: bold;
        font-size: 18px;
        text-transform: capitalize;
        color: rgb(104, 104, 104);
    }
    .val{
        color: rgb(146, 145, 145);
        font-weight: bold;
    }
    .google-maps{
        width:20px; 
        height:20px;
    }
    .add-location{
        padding-left: 20px;
    }
    .info{
        padding-bottom: 10px;
    }
}
.attendance{
    margin: 20px;
    .heading{
        font-size: 12px;
        font-weight: bolder;
        border-bottom: 1px solid rgba(226, 226, 226, 0.733);
        width: 240px;
        display: block;
    }
    table{
        font-size: 12px;
        td{
            color: $mainColor;
            padding: 5px 10px;
            font-weight: bold;
        }
        .data-format{
            height: 25px;
            width: 30px;
            padding: 3px !important;
            border-radius: 50%;
            background-color: rgb(197, 197, 197);
            color: #fff;
            text-align: center;
        }
    }
}
.message-to-emp{
    font-size: 12px;
    display: flex;
    align-items: center;
    margin: 20px;
    img{
        height: 30px;
        width: 30px;
        margin-right: 20px;
    }
    .message-text{
        p{

            margin: 0;
            &:first-child{
                color: gray;
                font-weight: bold;
            }
        }
    }
}
.notes{
    color: gray;
    font-size: 12px;
    margin-left: 20px;
    .heading{
        font-size: 12px;
        font-weight: bolder;
        border-bottom: 1px solid rgba(226, 226, 226, 0.733);
        width: 100%;
        display: block;
    }
    i{
        border: 1px solid gray;
    }
}
.status{
    color: gray;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 20px;
    .heading{
        font-size: 12px;
        font-weight: bolder;
        border-bottom: 1px solid rgba(226, 226, 226, 0.733);
        width: 100%;
        display: block;
    }
    .status-text{
        padding: 10px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        .text{
            padding-bottom: 20px;
            text-align: center;
        }
    }
}
.footer-buttons{
    margin-top: 20px;
    padding: 0;
    button{
        font-weight: bold;
        padding: 6px;
        margin: 0 20px;
        font-size: 12px;
        border: 0;
        color: rgb(73, 73, 73);
    }
}
.close-button{
    background-color: $mainColor;
}
    
}

@media(max-width: 600px) {
    .form-container {
        flex-direction: column;
        align-items: flex-start !important;
    }

    .form_element {
        align-items: center;
        margin: 50% 0;
        width: 90% !important;
        margin: 2%;
        flex-direction: row !important;
        label {
            width: 40%;
            span{
                display: block;
            }
        }

        input {
            width: 40%;
        }
    }

    .alphabets {
        position: relative !important;
        margin: 0 0 20px 10px;
        text-align: left !important;
    }
    .table-wrapper{
        margin: 5px;
    }
    .table-wrapper,.modal{
        width: 95%;
      }
    .modal-body{
        padding: 0;
    }
    .header{
        flex-direction: column;
    }
      
}