<div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">E&S Homecare Solution</div>
        </div>
         <div class="page-header pull-right">
            <div class="page-title"></div>
        </div>
      
     
        <div class="clearfix"></div>
    </div>
    <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
    <div class="page-content">


        <div class="row">
            <div class="col-lg-12">
                <ul class="nav navbar navbar-top-links navbar-right mbn hidden-lg hidden-md">      
                  
                   <li class="dropdown ">
                   <div class="dropdown" dropdown>
 <button dropdownToggle  class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown">
                           <span>Employee</span>&nbsp;<span
                           class="caret"></span>                        
                        </button>
 <ul *dropdownMenu  class="dropdown-menu">
   <li><a href="javascript:void(0)" (click)="selectTab(0)"  class="dropdown-toggle">Dashboard</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(1)"  class="dropdown-toggle">Schedule</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(2)"  class="dropdown-toggle">Personal-info</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(3)"  class="dropdown-toggle">Status</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(4)"  class="dropdown-toggle">Address</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(5)"  class="dropdown-toggle">Availability</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(6)"  class="dropdown-toggle">Absence</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(7)"  class="dropdown-toggle">Rates</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(8)"  class="dropdown-toggle">Declined-Cases</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(9)"  class="dropdown-toggle">Incidents</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(10)"  class="dropdown-toggle">Compliance</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(11)"  class="dropdown-toggle">Hiring</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(12)"  class="dropdown-toggle">Contact-Log-Notes</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(13)"  class="dropdown-toggle">Documents-Files</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(14)"  class="dropdown-toggle">Mobile-App</a></li>   
 </ul>
</div>
               </li>
               </ul>
            </div>
            <div class="col-lg-12">         
          
            <tabset class="rakeshClasss" #staticTabs>
                <tab heading="Dashboard">
                <!-- <app-emp-dasboard></app-emp-dasboard> -->
                </tab>
                <tab heading="Schedule">
                    <!-- <app-client-calender></app-client-calender> -->
                </tab>                
                <tab heading="Personal-info">                
                    <!-- <div class="row">
                        <div class="col-lg-12">
                            <h4 class="mtm mbm text-uppercase  text-orange"> <strong>PERSONAL INFO</strong> </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="panel">
                                <div class="panel-body ptn pbn">
                                    <div class="row">
                                        <div class="col-sm-12"> </div>
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped mbn">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            Active
                                                        </td>
                                                        <td>
                                                            <input type="checkbox" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            SSN
                                                        </td>
                                                        <td>
                                                           {{empInfo.sSN}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            First, Middle
                                                        </td>
                                                        <td>
                                                            {{empInfo.firstName}},    {{empInfo.middleName }}
                                                        </td>
                                                    </tr>                
                                                    <tr>
                                                        <td>
                                                            Last Name
                                                        </td>
                                                        <td>
                                                            {{empInfo.lastName}}
                                                        </td>
                                                    </tr>                
                                                    <tr>
                                                        <td>
                                                            Gender
                                                        </td>
                                                        <td>
                                                            {{empInfo.gender}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            HR Supervisor
                                                        </td>
                                                        <td>
                                                            {{empInfo.hRSupervisor}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>                
                                                            DOB
                                                        </td>
                                                        <td>                
                                                            {{empInfo.dOB}}           
                                                        </td>
                                                    </tr>                
                                                    <tr>
                                                        <td>                
                                                            Ethnicity                
                                                        </td>
                                                        <td>
                                                            {{empInfo.enthnicity}}     
                                                            
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Cell Phone
                                                        </td>
                                                        <td>
                                                            {{empInfo.cellPhone}}  
                                                        </td>
                                                    </tr>                
                                                    <tr>
                                                        <td>
                                                            Home Phone
                                                        </td>
                                                        <td>
                                                            {{empInfo.homePhone}}  
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Email
                                                        </td>
                                                        <td>
                                                            {{empInfo.email}}  
                                                        </td>
                                                    </tr>                
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>                
                                </div>                
                            </div>                
                        </div>
                        <div class="col-lg-6">
                            <div class="panel">
                                <div class="panel-body ptn pbn">
                                    <div class="row">
                                        <div class="col-sm-12"> </div>
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped mbn">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            Employee ID
                                                        </td>
                                                        <td>
                                                            {{empInfo.empID}}  
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Type
                                                        </td>
                                                        <td>
                                                            {{empInfo.types}}  
                
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Start Date
                                                        </td>
                                                        <td>
                                                            {{empInfo.dateOfHire}}  
                                                        </td>
                                                    </tr>
                
                                                    <tr>
                                                        <td>
                                                            Adj. Start Date
                                                        </td>
                                                        <td>
                                                        </td>
                                                    </tr>
                
                                                    <tr>
                                                        <td>
                                                            Contact
                                                        </td>
                                                        <td>
                                                            {{empInfo.emgContact}}  
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Contact Phone
                                                        </td>
                                                        <td>
                                                            {{empInfo.emgPhone}}  
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                
                                                            Marital Status
                                                        </td>
                                                        <td>
                
                                                            {{empInfo.maritalStatus}}  
                                                        </td>
                                                    </tr>
                
                                                    <tr>
                                                        <td>
                                                            Dependents
                                                        </td>
                                                        <td>
                                                            1
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Tax State
                                                        </td>
                                                        <td>
                                                            {{empInfo.cState}}  
                                                        </td>
                                                    </tr>
                
                                                    <tr>
                                                        <td>
                                                            Municipality
                                                        </td>
                                                        <td>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Notes
                                                        </td>
                                                        <td>
                                                        </td>
                                                    </tr>
                
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                
                                </div>
                
                            </div>
                
                        </div>
                    </div> -->
                
                </tab>
                
                <tab heading="Status">
                        
                    <!-- <app-emp-status></app-emp-status> -->
                
                </tab>
                
                <tab heading="Address">
                
                 <app-emp-address></app-emp-address> 
                
                
                
                </tab>
                <tab heading="Availability">
                
                <app-emp-availability></app-emp-availability>
                    
                
                </tab>
                
                
                
                <tab heading="Absence">
                
                    
          <app-emp-attendance></app-emp-attendance> 
                    
                </tab>
                <tab heading="Rates">
                
                     <!-- <app-emp-rate></app-emp-rate> -->
                
                    
                </tab>
                <tab heading="Declined-Cases">
                
                   <!-- <app-emp-declined-cases></app-emp-declined-cases> -->
                    



                
                </tab>
                <tab heading="Incidents">                   
                       
                  <app-emp-incidents></app-emp-incidents>
                </tab>
                
                
                <tab heading="Compliance">
                
                    
            <app-emp-compliance></app-emp-compliance> 
                
                    
                </tab>
                
                
               
                
                
                
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        </tabset>
         
        </div>

 




        
    </div>
    <!--END CONTENT--></div>



  
