<div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">E&S Homecare Solution</div>
        </div>
         <div class="page-header pull-right">
            <div class="page-title"></div>
        </div>
      
     
        <div class="clearfix"></div>
    </div>
    <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
    <div class="page-content">


        <div class="row">
            <div class="col-lg-12">
                <ul class="nav navbar navbar-top-links navbar-right mbn hidden-lg hidden-md">      
                  
                   <li class="dropdown ">
                   <div class="dropdown" dropdown>
 <button dropdownToggle  class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown">
                           <span>Employee</span>&nbsp;<span
                           class="caret"></span>                        
                        </button>
 <ul *dropdownMenu  class="dropdown-menu">
   <li><a href="javascript:void(0)" (click)="selectTab(0)"  class="dropdown-toggle">Dashboard</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(1)"  class="dropdown-toggle">Schedule</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(2)"  class="dropdown-toggle">Personal-info</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(3)"  class="dropdown-toggle">Status</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(4)"  class="dropdown-toggle">Address</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(5)"  class="dropdown-toggle">Availability</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(6)"  class="dropdown-toggle">Absence</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(7)"  class="dropdown-toggle">Rates</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(8)"  class="dropdown-toggle">Declined-Cases</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(9)"  class="dropdown-toggle">Incidents</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(10)"  class="dropdown-toggle">Compliance</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(11)"  class="dropdown-toggle">Documents</a></li>

   <!-- <li><a href="javascript:void(0)" (click)="selectTab(13)"  class="dropdown-toggle">Hiring</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(14)"  class="dropdown-toggle">Contact-Log-Notes</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(15)"  class="dropdown-toggle">Documents-Files</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(16)"  class="dropdown-toggle">Mobile-App</a></li>    -->
 </ul>
</div>
               </li>
               </ul>
            </div>
            <div class="col-lg-12">         
          
            <tabset class="rakeshClasss" #staticTabs>
                <tab heading="Dashboard">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-12">
                                     <div class="panel panel-orange">
                                <div class="panel-body pan bg-grey text-white">
                                    <div class="profile">
                                        <div class="user-info">
                                            <div style="margin-bottom: 15px" class="row">
                                                <div class="col-xs-7 col-sm-7">
                                                    <h3 class="mtn text-light-orange">Personal Data</h3>
                                              <h4>  {{ this.EmpName }} | {{ Etype }}</h4> 
                    
                    
                    
                                                    <p>
                                                        <strong><span class="text-light-orange"><i class="fa fa-calendar"></i> Date Of Birth:</span> </strong><br>
                                                   <strong>{{empInfo.dOB}}</strong>
                                                    </p>
                    
                                                    <p>
                                                        <strong class="mrs"><span class="text-light-orange"><i class="fa fa-phone"></i> Cell Phone:</span> </strong><br>
                                                       <strong>{{empInfo.cellPhone}}</strong> 
                                                    </p>
                    
                    
                    
                                                </div>
                    
                    
                                                <div class="col-xs-5 col-sm-5 text-center">
                    
                                                    <img src="../../assets/images/profile-img-big.jpg"
                                                         class="img-responsive-mobile img-round" alt="" />
                    
                    
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <p>
                                                        <strong class="mrs"><span class="text-orange">Coordinator:</span></strong>
                                                   <strong>{{empInfo.hRSupervisor}}</strong>
                                                    </p>
                                                    <p class="mtm">
                                                        <span class="text-orange text-14"><i class="fa fa-calendar"></i></span> Send Email message to John Deo
                                                    </p>
                                                </div>
                                            </div>
                    
                                        </div>
                    
                                    </div>
                                </div>
                            </div>
                                </div>
                            </div>
                             <div class="row">
                           <div class="col-md-12">
                              <div class="panel panel-orange">
                                <div class="panel-header panel-primary">
                                   <h4 class="mtm mbn plm text-uppercase  text-orange"> <i style="font-size: 17px; margin-top: 2px;"
                                                                           class="fa fa-envelope"></i> <strong>Send Email message to John Deo</strong>
                                    </h4>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                 <div class="col-sm-12"><p>Send Via&nbsp;&nbsp;<input type="checkbox"> Email&nbsp;&nbsp;<input type="checkbox"> SMS text</p></div>								
                                        </div>
                                    <div class="row">
                                         <div class="col-sm-12">
                                             <div class="email-box">
                                             <p class=""><strong>Hello John DEO</strong></p>
                                             <p class="">Michele Deo</p>
                                        </div>
                                        
                                        </div>
                                        </div>							
                                </div>
                            </div>
                          </div>				  
                          
                          </div>
                            <div class="row">
                           <div class="col-md-12">
                              <div class="panel panel-orange">
                                   <div class="panel-header panel-primary">
                                   <h4 class="mtm mbn plm text-uppercase  text-orange"> <strong>Current Assignments</strong> </h4>
                                </div>							  
                               
                                <div class="panel-body">
                                    <div class="row">
                                 <div class="col-sm-12"><p><i class="fa fa-plus-square-o"></i> View Full Schedule</p></div>								
                                        </div>
                                                
                                </div>
                            </div>
                          </div>				  
                          
                          </div>
                                <div class="row">
                           <div class="col-md-12">
                               <div class="panel panel-orange">
                                   <div class="panel-header panel-primary">
                                   <h4 class="mtm mbn plm text-uppercase  text-orange"><strong>John Deo Signature on file</strong> </h4>
                                </div>			
                               
                                <div class="panel-body">
                                    <div class="row">
                                 <div class="col-sm-12"><p>Signature</p>
                                        <p>john deo &nbsp;&nbsp;12-02-2022&nbsp;&nbsp;3:20</p>
                                        
                                        </div>								
                                        </div>
                                                
                                </div>
                            </div>
                          </div>				  
                          
                          </div>
                        </div>
                    <div class="col-md-6">
                            
                             <div class="row">
                           <div class="col-md-12">
                              <div class="panel panel-orange">                               
                                <div class="panel-body">
                                    <div class="row">
                                 <div class="col-sm-12"><p><i class="fa fa-dot-circle-o text-orange"></i> Alao completed six hours of Inservice classes</p>
                                        <p><a href=""><i class="fa fa-plus-square"></i> Add Completed</a></p>
                                        </div>								
                                        </div>
                                                            
                                </div>
                            </div>
                          </div>				  
                          
                          </div>
                           <div class="row">
                           <div class="col-md-12">
                              <div class="panel panel-orange">                               
                                <div class="panel-body">
                                    <div class="row">
                                 <div class="col-sm-12"><p><i class="fa fa-dot-circle-o text-orange"></i> Alao completed six hours of Inservice classes</p>
                                        <p><i class="fa fa-dot-circle-o text-orange"></i> Alao completed six hours of Inservice classes</p>
                                        </div>								
                                        </div>
                                        
                                </div>
                            </div>
                          </div>				  
                          
                          </div>
                            <div class="row">
                           <div class="col-md-12">
                               <div class="panel panel-orange">
                                   <div class="panel-header panel-primary">
                                   <h4 class="mtm mbn plm text-uppercase  text-orange"><strong>Compliance</strong> </h4>
                                </div>	
                               
                                <div class="panel-body">
                                    <div class="row">
                                 <div class="col-sm-12">
                                   <h5 class="mtn"><strong>InService Classes</strong></h5>
                                   <p>Inservice classes</p>
                                     <p>Taken 6 hours</p>
                                     <p><i class="fa fa-plus-square-o"></i> Add Compliance</p>
                                        
                                      </div>								
                                        </div>
                                                
                                </div>
                            </div>
                          </div>				  
                          
                          </div>
                        <div class="row">
                           <div class="col-md-12">
                               <div class="panel panel-orange">
                                   <div class="panel-header panel-primary">
                                   <h4 class="mtm mbn plm text-uppercase  text-orange"><strong>HR</strong> </h4>
                                </div>							   
                             
                                <div class="panel-body">
                                    <div class="row">
                                 <div class="col-sm-12">
                                    <p><strong>HHA</strong></p>
                                     <p>Start Date: 16-03-2022</p>
                                     <p>Certficate: HHA</p>
                                         <p>Validation Date: 16-03-2022</p>
                                          <p><i class="fa fa-plus-square-o"></i> More All</p>
                                      </div>								
                                        </div>
                                                
                                </div>
                            </div>
                          </div>				  
                          
                          </div>
                        </div>
                    </div>
                </tab>
                <tab heading="Schedule">
                     <app-schedule-view></app-schedule-view> 
                </tab>                
                <tab heading="Personal-info">                
                 <div class="row">
                        <div class="col-lg-12">
                            <h4 class="mtm mbm text-uppercase  text-orange"> <strong>PERSONAL INFO</strong> </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="panel">
                                <div class="panel-body ptn pbn">
                                    <div class="row">
                                        <div class="col-sm-12"> </div>
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped mbn">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            Active
                                                        </td>
                                                        <td>
                                                            <input type="checkbox" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            SSN
                                                        </td>
                                                        <td>
                                                           {{empInfo.sSN}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            First, Middle
                                                        </td>
                                                        <td>
                                                            {{empInfo.firstName}},    {{empInfo.middleName }}
                                                        </td>
                                                    </tr>                
                                                    <tr>
                                                        <td>
                                                            Last Name
                                                        </td>
                                                        <td>
                                                            {{empInfo.lastName}}
                                                        </td>
                                                    </tr>                
                                                    <tr>
                                                        <td>
                                                            Gender
                                                        </td>
                                                        <td>
                                                            {{empInfo.gender}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            HR Supervisor
                                                        </td>
                                                        <td>
                                                            {{empInfo.hRSupervisor}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>                
                                                            DOB
                                                        </td>
                                                        <td>                
                                                            {{empInfo.dOB}}           
                                                        </td>
                                                    </tr>                
                                                    <tr>
                                                        <td>                
                                                            Ethnicity                
                                                        </td>
                                                        <td>
                                                            {{empInfo.enthnicity}}     
                                                            
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Cell Phone
                                                        </td>
                                                        <td>
                                                            {{empInfo.cellPhone}}  
                                                        </td>
                                                    </tr>                
                                                    <tr>
                                                        <td>
                                                            Home Phone
                                                        </td>
                                                        <td>
                                                            {{empInfo.homePhone}}  
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Email
                                                        </td>
                                                        <td>
                                                            {{empInfo.email}}  
                                                        </td>
                                                    </tr>                
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>                
                                </div>                
                            </div>                
                        </div>
                        <div class="col-lg-6">
                            <div class="panel">
                                <div class="panel-body ptn pbn">
                                    <div class="row">
                                        <div class="col-sm-12"> </div>
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped mbn">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            Employee ID
                                                        </td>
                                                        <td>
                                                            {{empInfo.empID}}  
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Type
                                                        </td>
                                                        <td>
                                                            {{empInfo.types}}  
                
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Start Date
                                                        </td>
                                                        <td>
                                                            {{empInfo.dateOfHire}}  
                                                        </td>
                                                    </tr>
                
                                                    <tr>
                                                        <td>
                                                            Adj. Start Date
                                                        </td>
                                                        <td>
                                                        </td>
                                                    </tr>
                
                                                    <tr>
                                                        <td>
                                                            Contact
                                                        </td>
                                                        <td>
                                                            {{empInfo.emgContact}}  
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Contact Phone
                                                        </td>
                                                        <td>
                                                            {{empInfo.emgPhone}}  
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                
                                                            Marital Status
                                                        </td>
                                                        <td>
                
                                                            {{empInfo.maritalStatus}}  
                                                        </td>
                                                    </tr>
                
                                                    <tr>
                                                        <td>
                                                            Dependents
                                                        </td>
                                                        <td>
                                                            1
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Tax State
                                                        </td>
                                                        <td>
                                                            {{empInfo.cState}}  
                                                        </td>
                                                    </tr>
                
                                                    <tr>
                                                        <td>
                                                            Municipality
                                                        </td>
                                                        <td>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Notes
                                                        </td>
                                                        <td>
                                                        </td>
                                                    </tr>
                
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                
                                </div>
                
                            </div>
                
                        </div>
                    </div> 
                
                </tab>
                
                <tab heading="Status">
                        
               <app-emp-status></app-emp-status>  
                
                </tab>
                
                <tab heading="Address">
                
                 <app-emp-address></app-emp-address> 
                
                
                
                </tab>
                <tab heading="Availability">
                
                <app-emp-availability></app-emp-availability>
                    
                
                </tab>
                
                
                
                <tab heading="Absence">
                
                    
          <app-emp-attendance></app-emp-attendance> 
                    
                </tab>
                <tab heading="Rates">
                
              <app-emp-rate></app-emp-rate> 
                
                    
                </tab>
                <tab heading="Declined-Cases">                
                    <app-emp-declined-cases></app-emp-declined-cases> 
                                    
                </tab>
                <tab heading="Incidents">                   
                       
                  <app-emp-incidents></app-emp-incidents>
                </tab>                
                
                <tab heading="Compliance">               
                    
            <app-emp-compliance></app-emp-compliance> 
                                    
                </tab>
                
                <tab heading="Documents">
                    <app-emp-document [data]="this.UserData"></app-emp-document>
                </tab>
                
        
        </tabset>
         
        </div>

 




        
    </div>
    <!--END CONTENT--></div>



  
