<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-sm-12">
                 <div class="panel panel-orange">
            <div class="panel-body pan bg-grey text-white">
                <div class="profile">
                    <div class="user-info">
                        <div style="margin-bottom: 15px" class="row">
                            <div class="col-xs-7 col-sm-7">
                                <h3 class="mtn text-light-orange">Personal Data</h3>
                                <!-- <h4>  {{ this.EmpName }} | {{ Etype }}</h4> -->



                                <p>
                                    <strong><span class="text-light-orange"><i class="fa fa-calendar"></i> Date Of Birth:</span> </strong><br>
                                    <!-- <strong>{{empInfo.dOB}}</strong> -->
                                </p>

                                <p>
                                    <strong class="mrs"><span class="text-light-orange"><i class="fa fa-phone"></i> Cell Phone:</span> </strong><br>
                                    <!-- <strong>{{empInfo.cellPhone}}</strong> -->
                                </p>



                            </div>


                            <div class="col-xs-5 col-sm-5 text-center">

                                <img src="../../assets/images/profile-img-big.jpg"
                                     class="img-responsive-mobile img-round" alt="" />


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <p>
                                    <strong class="mrs"><span class="text-orange">Coordinator:</span></strong>
                                    <!-- <strong>{{empInfo.hRSupervisor}}</strong> -->
                                </p>
                                <p class="mtm">
                                    <span class="text-orange text-14"><i class="fa fa-calendar"></i></span> Send Email message to John Deo
                                </p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
            </div>
        </div>
         <div class="row">
       <div class="col-md-12">
          <div class="panel panel-orange">
            <div class="panel-header panel-primary">
               <h4 class="mtm mbn plm text-uppercase  text-orange"> <i style="font-size: 17px; margin-top: 2px;"
                                                       class="fa fa-envelope"></i> <strong>Send Email message to John Deo</strong>
                </h4>
            </div>
            <div class="panel-body">
                <div class="row">
             <div class="col-sm-12"><p>Send Via&nbsp;&nbsp;<input type="checkbox"> Email&nbsp;&nbsp;<input type="checkbox"> SMS text</p></div>								
                    </div>
                <div class="row">
                     <div class="col-sm-12">
                         <div class="email-box">
                         <p class=""><strong>Hello John DEO</strong></p>
                         <p class="">Michele Deo</p>
                    </div>
                    
                    </div>
                    </div>							
            </div>
        </div>
      </div>				  
      
      </div>
        <div class="row">
       <div class="col-md-12">
          <div class="panel panel-orange">
               <div class="panel-header panel-primary">
               <h4 class="mtm mbn plm text-uppercase  text-orange"> <strong>Current Assignments</strong> </h4>
            </div>							  
           
            <div class="panel-body">
                <div class="row">
             <div class="col-sm-12"><p><i class="fa fa-plus-square-o"></i> View Full Schedule</p></div>								
                    </div>
                            
            </div>
        </div>
      </div>				  
      
      </div>
            <div class="row">
       <div class="col-md-12">
           <div class="panel panel-orange">
               <div class="panel-header panel-primary">
               <h4 class="mtm mbn plm text-uppercase  text-orange"><strong>John Deo Signature on file</strong> </h4>
            </div>			
           
            <div class="panel-body">
                <div class="row">
             <div class="col-sm-12"><p>Signature</p>
                    <p>john deo &nbsp;&nbsp;12-02-2022&nbsp;&nbsp;3:20</p>
                    
                    </div>								
                    </div>
                            
            </div>
        </div>
      </div>				  
      
      </div>
    </div>
<div class="col-md-6">
        
         <div class="row">
       <div class="col-md-12">
          <div class="panel panel-orange">                               
            <div class="panel-body">
                <div class="row">
             <div class="col-sm-12"><p><i class="fa fa-dot-circle-o text-orange"></i> Alao completed six hours of Inservice classes</p>
                    <p><a href=""><i class="fa fa-plus-square"></i> Add Completed</a></p>
                    </div>								
                    </div>
                                        
            </div>
        </div>
      </div>				  
      
      </div>
       <div class="row">
       <div class="col-md-12">
          <div class="panel panel-orange">                               
            <div class="panel-body">
                <div class="row">
             <div class="col-sm-12"><p><i class="fa fa-dot-circle-o text-orange"></i> Alao completed six hours of Inservice classes</p>
                    <p><i class="fa fa-dot-circle-o text-orange"></i> Alao completed six hours of Inservice classes</p>
                    </div>								
                    </div>
                    
            </div>
        </div>
      </div>				  
      
      </div>
        <div class="row">
       <div class="col-md-12">
           <div class="panel panel-orange">
               <div class="panel-header panel-primary">
               <h4 class="mtm mbn plm text-uppercase  text-orange"><strong>Compliance</strong> </h4>
            </div>	
           
            <div class="panel-body">
                <div class="row">
             <div class="col-sm-12">
               <h5 class="mtn"><strong>InService Classes</strong></h5>
               <p>Inservice classes</p>
                 <p>Taken 6 hours</p>
                 <p><i class="fa fa-plus-square-o"></i> Add Compliance</p>
                    
                  </div>								
                    </div>
                            
            </div>
        </div>
      </div>				  
      
      </div>
    <div class="row">
       <div class="col-md-12">
           <div class="panel panel-orange">
               <div class="panel-header panel-primary">
               <h4 class="mtm mbn plm text-uppercase  text-orange"><strong>HR</strong> </h4>
            </div>							   
         
            <div class="panel-body">
                <div class="row">
             <div class="col-sm-12">
                <p><strong>HHA</strong></p>
                 <p>Start Date: 16-03-2022</p>
                 <p>Certficate: HHA</p>
                     <p>Validation Date: 16-03-2022</p>
                      <p><i class="fa fa-plus-square-o"></i> More All</p>
                  </div>								
                    </div>
                            
            </div>
        </div>
      </div>				  
      
      </div>
    </div>
</div>