 <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">E&S Homecare Solution</div>
        </div>
         <div class="page-header pull-right">
            <div class="page-title"></div>
        </div>
      
     
        <div class="clearfix"></div>
    </div>
    <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
    <div class="page-content">


        <div class="row">
            <div class="col-lg-12">
                <ul class="nav navbar navbar-top-links navbar-right mbn hidden-lg hidden-md">      
                  
                   <li class="dropdown ">
                   <div class="dropdown" dropdown>
 <button dropdownToggle  class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown">
                           <span>Employee</span>&nbsp;<span
                           class="caret"></span>                        
                        </button>
 <ul *dropdownMenu  class="dropdown-menu">
   <li><a href="javascript:void(0)" (click)="selectTab(0)"  class="dropdown-toggle">Dashboard</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(1)"  class="dropdown-toggle">Schedule</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(2)"  class="dropdown-toggle">Personal-info</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(3)"  class="dropdown-toggle">Status</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(4)"  class="dropdown-toggle">Address</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(5)"  class="dropdown-toggle">Availability</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(6)"  class="dropdown-toggle">Absence</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(7)"  class="dropdown-toggle">Rates</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(8)"  class="dropdown-toggle">Declined-Cases</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(9)"  class="dropdown-toggle">Incidents</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(10)"  class="dropdown-toggle">Compliance</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(11)"  class="dropdown-toggle">Hiring</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(12)"  class="dropdown-toggle">Contact-Log-Notes</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(13)"  class="dropdown-toggle">Documents-Files</a></li>
   <li><a href="javascript:void(0)" (click)="selectTab(14)"  class="dropdown-toggle">Mobile-App</a></li>   
 </ul>
</div>
               </li>
               </ul>
            </div>


            <div class="col-lg-12">         
          
            <tabset class="rakeshClasss" #staticTabs>
                <tab heading="Dashboard">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="panel panel-orange">
                                <div class="panel-body pan bg-grey text-white">
                                    <div class="profile">
                                        <div class="user-info">
                                            <div style="margin-bottom: 15px" class="row">
                                                <div class="col-xs-7 col-sm-7">
                                                    <h3 class="mtn text-light-orange">Personal Data</h3>
                                                    <h4>John Doe</h4>
                
                                                    <p>
                                                        <strong><span class="text-light-orange">Client ID:</span></strong><br>
                                                        <strong>12457</strong>
                                                    </p>
                
                                                    <p>
                                                        <strong><span class="text-light-orange"><i class="fa fa-calendar"></i> Date Of Birth:</span> </strong><br>
                                                        <strong>11 March 2000</strong>
                                                    </p>
                
                                                    <p>
                                                        <strong class="mrs"><span class="text-light-orange"><i class="fa fa-phone"></i> Cell Phone:</span> </strong><br>
                                                        <strong>+91 9999999999</strong>
                                                    </p>
                
                
                
                                                </div>
                
                
                                                <div class="col-xs-5 col-sm-5 text-center">

                                                    <img src="../../assets/images/profile-img-big.jpg"
                                                    class="img-responsive-mobile img-round" alt="" />
                                              
                                              
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <p>
                                                        <strong class="mrs"><span class="text-orange">Coordinator:</span></strong>
                                                        <strong>john deo</strong>
                                                    </p>
                                                    <p class="mtm">
                                                        <span class="text-orange text-14"><i class="fa fa-calendar"></i></span> Send Email message to John Deo
                                                    </p>
                                                </div>
                                            </div>
                
                                        </div>
                
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="panel panel-orange">
                                <div class="panel-header panel-primary">
                                    <h4 class="mtm mbn plm text-uppercase  text-orange">
                                        <i style="font-size: 17px; margin-top: 2px;"
                                           class="fa fa-location-arrow text-grey"></i><strong> Location</strong>
                                    </h4>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12"> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55565170.29301636!2d-132.08532758867793!3d31.786060306224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited%20States!5e0!3m2!1sen!2sin!4v1644488535402!5m2!1sen!2sin" width="100%" height="220px" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
                                        <div class="col-sm-12 text-14 text-orange"><strong>60 chiga abc, USA </strong></div>
                                    </div>
                
                                </div>
                                <div class="portlet-footer"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-orange">
                                        <div class="panel-header panel-primary">
                                            <h4 class="mtm mbn plm text-uppercase  text-orange">
                                                <i style="font-size: 17px; margin-top: 2px;"
                                                   class="fa fa-list-alt text-grey"></i><strong> Billing Summary/Activate Authorization</strong>
                                            </h4>
                                        </div>
                
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-sm-6"><p>Vaccn: Hourly&nbsp;&nbsp;Expires:11-02-2022</p></div>
                                                <div class="col-sm-6 text-right small-txt">Authorized signature</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12"><p class="text-orange"><strong>Status</strong></p></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <p>
                                                        <strong>Address</strong>:<br>
                                                        60 chiga abc, USA
                
                                                    </p>
                                                </div>
                
                                                <div class="col-sm-6 text-right small-txt">Authorized signature</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-orange">
                                        <div class="panel-header panel-primary">
                                            <h4 class="mtm mbn plm text-uppercase  text-orange">
                                                <i style="font-size: 17px; margin-top: 2px;"
                                                   class="fa fa-list-alt text-grey"></i><strong> Most recent complication completed</strong>
                                            </h4>
                                        </div>
                
                                        <div class="panel-body">
                                            <div class="row">
                
                                                <div class="col-sm-12 text-right small-txt">Authorized signature</div>
                                            </div>
                
                                        </div>
                                    </div>
                                </div>
                
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-orange">
                                        <div class="panel-header panel-primary">
                                            <h4 class="mtm mbn plm text-uppercase  text-orange">
                                                <i style="font-size: 17px; margin-top: 2px;"
                                                   class="fa fa-list-alt text-grey"></i><strong> Barnaldo Signature on file</strong>
                                            </h4>
                                        </div>
                
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-sm-12 text-right small-txt">Authorized signature</div>
                                            </div>
                
                                        </div>
                                    </div>
                                </div>
                
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="panel panel-orange">
                                <div class="panel-header panel-primary">
                                    <h4 class="mtm mbn plm text-uppercase  text-orange">
                                        <i style="font-size: 17px; margin-top: 2px;"
                                           class="fa fa-list-alt text-grey"></i><strong> Schedule</strong>
                                    </h4>
                                </div>
                
                
                                <div class="panel-body">
                                    <ul class="todo-list sortable">
                                        <li class="clearfix">
                                            <span class="drag-drop"><i></i></span>
                
                                            <div class="todo-title pull-left">
                                                <strong>Tue Feb 1, 2022</strong><br>
                                                11:00AM to 1:00PM
                                            </div>
                                            <div class="todo-title pull-right clearfix">
                                                <strong>john deo</strong><br>
                                                Hourly
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <span class="drag-drop"><i></i></span>
                
                                            <div class="todo-title pull-left">
                                                <strong>Tue Feb 1, 2022</strong><br>
                                                11:00AM to 1:00PM
                                            </div>
                                            <div class="todo-title pull-right clearfix">
                                                <strong>john deo</strong><br>
                                                Hourly
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <span class="drag-drop"><i></i></span>
                
                                            <div class="todo-title pull-left">
                                                <strong>Tue Feb 1, 2022</strong><br>
                                                11:00AM to 1:00PM
                                            </div>
                                            <div class="todo-title pull-right clearfix">
                                                <strong>john deo</strong><br>
                                                Hourly
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <span class="drag-drop"><i></i></span>
                
                                            <div class="todo-title pull-left">
                                                <strong>Tue Feb 1, 2022</strong><br>
                                                11:00AM to 1:00PM
                                            </div>
                                            <div class="todo-title pull-right clearfix">
                                                <strong>john deo</strong><br>
                                                Hourly
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <span class="drag-drop"><i></i></span>
                
                                            <div class="todo-title pull-left">
                                                <strong>Tue Feb 1, 2022</strong><br>
                                                11:00AM to 1:00PM
                                            </div>
                                            <div class="todo-title pull-right clearfix">
                                                <strong>john deo</strong><br>
                                                Hourly
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <span class="drag-drop"><i></i></span>
                
                                            <div class="todo-title pull-left">
                                                <strong>Tue Feb 1, 2022</strong><br>
                                                11:00AM to 1:00PM
                                            </div>
                                            <div class="todo-title pull-right clearfix">
                                                <strong>john deo</strong><br>
                                                Hourly
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <span class="drag-drop"><i></i></span>
                
                                            <div class="todo-title pull-left">
                                                <strong>Tue Feb 1, 2022</strong><br>
                                                11:00AM to 1:00PM
                                            </div>
                                            <div class="todo-title pull-right clearfix">
                                                <strong>john deo</strong><br>
                                                Hourly
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <span class="drag-drop"><i></i></span>
                
                                            <div class="todo-title pull-left">
                                                <strong>Tue Feb 1, 2022</strong><br>
                                                11:00AM to 1:00PM
                                            </div>
                                            <div class="todo-title pull-right clearfix">
                                                <strong>john deo</strong><br>
                                                Hourly
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="Schedule">
                    <app-client-calender></app-client-calender>
                </tab>                
                <tab heading="Personal-info">                
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="mtm mbm text-uppercase  text-orange"> <strong>PERSONAL INFO</strong> </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="panel">
                                <div class="panel-body ptn pbn">
                                    <div class="row">
                                        <div class="col-sm-12"> </div>
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped mbn">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            Active
                                                        </td>
                                                        <td>
                                                            <input type="checkbox" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            SSN
                                                        </td>
                                                        <td>
                                                            291-15-9616
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            First, Middle
                                                        </td>
                                                        <td>
                                                            John
                                                        </td>
                                                    </tr>                
                                                    <tr>
                                                        <td>
                                                            Last Name
                                                        </td>
                                                        <td>
                                                            Afful
                                                        </td>
                                                    </tr>                
                                                    <tr>
                                                        <td>
                                                            Gender
                                                        </td>
                                                        <td>
                                                            Male
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            HR Supervisor
                                                        </td>
                                                        <td>
                                                            Ruano, Diana
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>                
                                                            DOB
                                                        </td>
                                                        <td>                
                                                            6/6/1966                
                                                        </td>
                                                    </tr>                
                                                    <tr>
                                                        <td>                
                                                            Ethnicity                
                                                        </td>
                                                        <td>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Cell Phone
                                                        </td>
                                                        <td>
                                                            (614) 515-8990
                                                        </td>
                                                    </tr>                
                                                    <tr>
                                                        <td>
                                                            Home Phone
                                                        </td>
                                                        <td>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Email
                                                        </td>
                                                        <td>
                                                        </td>
                                                    </tr>                
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>                
                                </div>                
                            </div>                
                        </div>
                        <div class="col-lg-6">
                            <div class="panel">
                                <div class="panel-body ptn pbn">
                                    <div class="row">
                                        <div class="col-sm-12"> </div>
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped mbn">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            Employee ID
                                                        </td>
                                                        <td>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Type
                                                        </td>
                                                        <td>
                                                            Applicant HHA
                
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Start Date
                                                        </td>
                                                        <td>
                                                            1/5/2022
                                                        </td>
                                                    </tr>
                
                                                    <tr>
                                                        <td>
                                                            Adj. Start Date
                                                        </td>
                                                        <td>
                                                        </td>
                                                    </tr>
                
                                                    <tr>
                                                        <td>
                                                            Contact
                                                        </td>
                                                        <td>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Contact Phone
                                                        </td>
                                                        <td>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                
                                                            Marital Status
                                                        </td>
                                                        <td>
                
                                                            Married
                                                        </td>
                                                    </tr>
                
                                                    <tr>
                                                        <td>
                                                            Dependents
                                                        </td>
                                                        <td>
                                                            1
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Tax State
                                                        </td>
                                                        <td>
                                                            NJ
                                                        </td>
                                                    </tr>
                
                                                    <tr>
                                                        <td>
                                                            Municipality
                                                        </td>
                                                        <td>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Notes
                                                        </td>
                                                        <td>
                                                        </td>
                                                    </tr>
                
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                
                                </div>
                
                            </div>
                
                        </div>
                    </div>
                
                </tab>
                
                <tab heading="Status">
                        
                    <app-emp-status></app-emp-status>
                
                </tab>
                
                <tab heading="Address">
                
                    
                        <div class="row">
                            <div class="col-lg-12">
                                <h4 class="mtm mbm text-uppercase  text-orange"> <strong>Address</strong> </h4>
                            </div>
                        </div>
                        <div class="row mbm">
                            <div class="col-sm-12 text-14">
                                <a href="" class="btn btn-md btn-default"><i class="fa fa-plus-square text-orange"></i> Add Address</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="panel">
                                    <div class="panel-body ptn pbn">
                                        <div class="row">
                                            <div class="col-sm-12"> </div>
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-striped mbn">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                Address
                                                            </td>
                                                            <td>
                                                                173 Nebraska Av
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                Apt/Floor
                                                            </td>
                                                            <td>
                                                                Apt 2
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                City
                                                            </td>
                                                            <td>
                                                                Hamilton
                                                            </td>
                                                        </tr>
                
                                                        <tr>
                                                            <td>
                                                                County
                                                            </td>
                                                            <td>
                                                            </td>
                                                        </tr>
                
                                                        <tr>
                                                            <td>
                                                                State
                                                            </td>
                                                            <td>
                                                                NJ
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                Zip
                                                            </td>
                                                            <td>
                                                                08619
                                                            </td>
                                                        </tr>
                
                
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                
                                    </div>
                
                                </div>
                
                            </div>
                            <div class="col-lg-6">
                                <div class="panel panel-orange">
                                    <div class="panel-heading"><i class="fa fa-map-marker"></i> 173 Nebraska Av Apt 2, Hamilton , NJ 08619 Google Maps	</div>
                                    <div class="panel-body ptn pbn">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55565170.29301636!2d-132.08532758867793!3d31.786060306224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited%20States!5e0!3m2!1sen!2sin!4v1644488535402!5m2!1sen!2sin" width="100%" height="220px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                                            </div>
                
                                        </div>
                
                                    </div>
                
                                </div>
                
                            </div>
                        </div>
                
                
                
                </tab>
                <tab heading="Availability">
                
                <app-emp-availability></app-emp-availability>
                    
                
                </tab>
                
                
                
                <tab heading="Absence">
                
                    
                <app-emp-attendance></app-emp-attendance>
                    
                </tab>
                <tab heading="Rates">
                
                        <div class="row">
                            <div class="col-lg-12">
                                <h4 class="mtm mbm text-uppercase  text-orange"> <strong>Rates</strong> </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row mbm">
                                    <div class="col-sm-12 text-14">
                                        <a href="" class="btn btn-md btn-default"><i class="fa fa-plus-square text-orange"></i> Add Rates</a>
                                    </div>
                                </div>
                
                                <div class="row">
                                    <div class="col-sm-12">
                
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Activity	</th>
                                                        <th>Effective Dates	</th>
                                                        <th>Regular Rate</th>
                                                        <th>Overtime Rate</th>
                                                        <th>Applies/Description</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><input type="checkbox" /></td>
                                                        <td>1/5/2022 - 1/5/2032</td>
                                                        <td>13.00 - 140.00 - 70.00</td>
                                                        <td>13.00 - 140.00 - 70.00</td>
                                                        <td></td>
                                                    </tr>
                
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                
                
                
                            </div>
                
                        </div>
                
                    
                </tab>
                <tab heading="Declined-Cases">
                
                   
                        <div class="row">
                            <div class="col-lg-12">
                                <h4 class="mtm mbm text-uppercase  text-orange"> <strong>Declined Cases</strong> </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row mbm">
                                    <div class="col-sm-12 text-14">
                                        <a href="" class="btn btn-md btn-default"><i class="fa fa-plus-square text-orange"></i> Add Declined Cases</a>
                                    </div>
                                </div>
                
                                <div class="row">
                                    <div class="col-sm-12">
                
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Date/Time	</th>
                                                        <th>Client</th>
                                                        <th>Reason</th>
                                                        <th>Case Start Date</th>
                                                        <th>Days</th>
                                                        <th>Hours</th>
                                                        <th>Notes</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>13.00 - 140.00 - 70.00</td>
                                                        <td>ssss</td>
                                                        <td>abc</td>
                                                        <td>13-03-2021</td>
                                                        <td>3</td>
                                                        <td>13.00</td>
                                                        <td>abc</td>
                                                        <td>1</td>
                                                    </tr>
                
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                
                
                
                            </div>
                
                        </div>




                
                </tab>
                <tab heading="Incidents">                   
                       
                     <app-emp-incidents></app-emp-incidents>
                </tab>
                
                
                <tab heading="Compliance">
                
                    
                        <div class="row">
                            <div class="col-lg-12">
                                <h4 class="mtm mbm text-uppercase  text-orange"> <strong>Compliance Due | Compliance Completed</strong> </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row mbm">
                                    <div class="col-sm-12 text-14">
                                        <a href="" class="btn btn-md btn-default"><i class="fa fa-plus-square text-orange"></i> Add Compliance</a>
                                    </div>
                                </div>
                
                                <div class="row">
                                    <div class="col-sm-12">
                
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Due Date</th>
                                                        <th>Category</th>
                                                        <th>Code</th>
                                                        <th>Notes</th>
                
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1/5/2022</td>
                                                        <td>Hiring</td>
                                                        <td>HHA Certificate</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>1/5/2022</td>
                                                        <td>Hiring</td>
                                                        <td>HHA Certificate</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>1/5/2022</td>
                                                        <td>Hiring</td>
                                                        <td>HHA Certificate</td>
                                                        <td></td>
                                                    </tr>
                
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                
                
                
                            </div>
                
                        </div>
                
                    
                </tab>
                
                
               
                
                
                
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        </tabset>
         
        </div>

 




        
    </div>
    <!--END CONTENT--></div>



  
