<div id="page-wrapper">

    <!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">Dashboard</div>
        </div>
        <div class="page-header pull-right">
            <div class="page-title">Client ID: {{empInfo.empID}}</div>
        </div>


        <div class="clearfix"></div>
    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
    <!--BEGIN CONTENT-->
    <div class="page-content">
        <div class="row mbm">
            <div class="col-sm-6 col-xs-4">

                <!-- <div class="input-group-btn">
                    <button type="button" tabindex="-1" class="btn btn-dark btn-lg"
                        style="box-shadow: 0px 3px #9b2929;">Employee</button>
                    <button type="button" data-toggle="dropdown" tabindex="-1" class="btn btn-dark-1 dropdown-toggle"
                        style="padding:5px 6px;box-shadow: 0px 3px #9b2929;">
                        <i class="fa fa-angle-down" style="font-size: 25px"></i>
                    </button>
                    <ul role="menu" class="dropdown-menu ">
                        <li><a href="#" class="text-14">Dashboard</a></li>
                        <li><a href="#">Schedule</a></li>
                        <li><a href="#">Search Availability</a></li>
                        <li><a href="#">Service Task</a></li>
                        <li><a href="#">Address & Phone</a></li>
                        <li><a href="#">Medication</a></li>
                        <li><a href="#">Billing</a></li>
                        <li><a href="#">Emergency Info</a></li>
                        <li><a href="#">Compliance</a></li>
                        <li><a href="#">Employees History</a></li>
                        <li><a href="#">General</a></li>
                        <li><a href="#">Declined Employees</a></li>
                        <li><a href="#">Provision</a></li>
                        <li><a href="#">Group Information</a></li>
                        <li><a href="#">Diagnosis</a></li>
                        <li><a href="#">Contact Log</a></li>
                        <li><a href="#">Notes</a></li>
                        <li><a href="#">Other</a></li>
                    </ul>
                </div> -->

            </div>
            <div class="col-sm-6 col-xs-8 text-right">
                <p><i class="fa fa-chevron-left text-orange"></i> {{ this.EmpName }} | {{ Etype }}
                    <i class="fa fa-chevron-right text-orange"></i>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel">
                            <div class="panel-body pan">
                                <div class="profile">
                                    <div class="user-info">
                                        <div style="margin-bottom: 15px" class="row">
                                            <div class="col-xs-7 col-sm-7">
                                                <h3 class="mtn text-orange">Personal Data</h3>
                                                <h4>{{ this.EmpName }}</h4>

                                                <p>
                                                    <strong><span class="text-orange">Qualification:</span></strong><br>
                                                    <strong>{{Etype}}</strong>
                                                </p>

                                                <p>
                                                    <strong><span class="text-orange"><i class="fa fa-map-marker"></i>
                                                            Residence:</span> </strong><br>
                                                    <strong>
                                                        <p class="">{{empInfo.city}}</p>
                                                        <p class="">{{empInfo.cState+", "+empInfo.country+",
                                                            "+empInfo.zipCode}}</p>
                                                    </strong>
                                                </p>

                                                <p>
                                                    <strong class="mrs"><span class="text-orange"><i
                                                                class="fa fa-phone"></i> Cell Phone:</span>
                                                    </strong><br>
                                                    <strong>
                                                        <p class="">{{formatPhoneNumber(empInfo.cellPhone)}}</p>
                                                    </strong>
                                                </p>
                                                <p>
                                                    <strong class="mrs"><span class="text-orange"><i
                                                                class="fa fa-envelope"></i> Email:</span> </strong><br>
                                                    <strong>
                                                        <p class="">{{empInfo.email}}</p>
                                                    </strong>
                                                </p>


                                            </div>


                                            <div class="col-xs-5 col-sm-5 text-center">
                                                <img src="../../assets/images/profile-img-big.jpg"
                                                    class="img-responsive-mobile img-round" alt="" />
                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet box">
                            <div class="portlet-header prolet-primary">
                                <div class="caption text-uppercase  text-orange">
                                    <i style="font-size: 17px; margin-top: 2px;" class="fa fa-envelope"></i>
                                    Send Email message to {{EmpName}}
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>Send Via&nbsp;&nbsp;<input type="checkbox" checked> Email&nbsp;&nbsp;<input
                                                type="checkbox" checked> SMS text</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="email-box">
                                            <p class=""><strong>Hello {{EmpName}}</strong></p>
                                            <p class="">Michele Deo</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet box">
                            <div class="portlet-header prolet-primary">
                                <div class="caption text-uppercase  text-orange">
                                    Current Assignments
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p><i class="fa fa-plus-square-o"></i> View Full Schedule</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet box">
                            <div class="portlet-header prolet-primary">
                                <div class="caption text-uppercase  text-orange">
                                    {{EmpName}} Signature on file
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>Signature</p>
                                        <p>{{EmpName}} &nbsp;&nbsp;{{currentDate | date:'dd-MM-yyyy'}}&nbsp;&nbsp;{{currentDate | date:'hh:mm'}}</p>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">

                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet box">
                            <div class="portlet-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>
                                            <i class="fa fa-dot-circle-o text-orange"></i> 
                                            Alao completed six hours of Inservice classes
                                        </p>
                                        <p><a href=""><i class="fa fa-plus-square"></i> Add Completed</a></p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet box">
                            <div class="portlet-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p><i class="fa fa-dot-circle-o text-orange"></i> 
                                            Alao completed six hours of Inservice classes</p>
                                        <p><i class="fa fa-dot-circle-o text-orange"></i> 
                                            Alao completed six hours of Inservice classes</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet box">
                            <div class="portlet-header prolet-primary">
                                <div class="caption text-uppercase  text-orange">
                                    Compliance
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h5 class="mtn"><strong>InService Classes</strong></h5>
                                        <p>Inservice classes</p>
                                        <p>Taken 6 hours</p>
                                        <p><i class="fa fa-plus-square-o"></i> Add Compliance</p>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet box">
                            <div class="portlet-header prolet-primary">
                                <div class="caption text-uppercase  text-orange">
                                    HR
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p><strong>{{Etype}}</strong></p>
                                        <p>Start Date: {{currentDate | date:'dd-MM-yyyy'}}</p>
                                        <p>Certficate: HHA</p>
                                        <p>Validation Date: {{currentDate | date:'dd-MM-yyyy'}}</p>
                                        <p><i class="fa fa-plus-square-o"></i> More All</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>


</div>