<div class="container-fluid employee-info">
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarcollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarcollapse">
            <ul class="navbar-nav justify-content-between w-100">
                <li><a href="#" class="nav-link">DASHBOARD</a></li>
                <li><a href="#" class="nav-link">CLIENTS</a></li>
                <li><a href="#" class="nav-link">EMPLOYEES</a></li>
                <li><a href="#" class="nav-link">AVAILABILITY</a></li>
                <li><a href="#" class="nav-link">BILLING/PAYROLL</a></li>
                <li><a href="#" class="nav-link">REPORTS</a></li>
                <li><a href="#" class="nav-link">HELP</a></li>
            </ul>
        </div>
    </nav>
    <div class="employee-details">
        <div class="row">
            <div class="col-lg-2 first-col">
                <h2>EMPLOYEE</h2>
                <div class="side-menu">
                    <div class="menu-item">Dashboard</div>
                    <div class="menu-item">Schedule</div>
                    <div class="menu-item">Personal Info</div>
                    <div class="menu-item">Status</div>
                    <div class="menu-item">Address</div>
                    <div class="menu-item">Availability</div>
                    <div class="menu-item">Absence</div>
                    <div class="menu-item">Rates</div>
                    <div class="menu-item">Declined Cases</div>
                    <div class="menu-item">Incidents</div>
                    <div class="menu-item">Complicance</div>
                    <div class="menu-item">Hiring</div>
                    <div class="menu-item">Contact Log & Notes</div>
                    <div class="menu-item">Documents/Files</div>
                    <div class="menu-item">Mobile App</div>
                </div>
            </div>
            <div class="col-lg-5 second-col">
                <div id="emp-name">
                    {{ this.EmpName }} | {{ Etype }}

                </div>
                <div id="page-title">DASHBOARD</div>
                <div class="personal-data d-flex">
                    <div class="text-section">
                        <p>PERSONAL DATA</p>
                        <p class="val"> {{ this.EmpName }}</p>
                        <p class="head">Qualification</p>
                        <p class="val">{{Etype}}</p>
                        <p class="head">Residence</p>
                        <div class="d-flex">
                            <img src="../../../../assets/images/mapa.png" alt="">
                            <div class="address">
                                <p class="val">{{empInfo.city}}</p>
                                <p class="val">{{empInfo.cState+", "+empInfo.country+", "+empInfo.zipCode}}</p>
                            </div>
                        </div>
                        <p class="head">Cell Phone</p>
                        <p class="val">{{formatPhoneNumber(empInfo.cellPhone)}}</p>
                        <p class="head">Email</p>
                        <p class="val">{{empInfo.email}}</p>

                    </div>
                    <div class="image-section">
                        <img src="../../../../assets/images/profilepic.jpeg" alt=""><br>
                        <div class="d-flex justify-content-center">

                        <img src="../../../../assets/images/profileIcon.png" alt="" style="width:20px; height:20px"><span>Profile</span>
                        </div>
                    </div>
                </div>
                <div id="emp-name">
                </div>
                <div id="page-title"></div>
                <div class="personal-data d-flex">
                   <div class="send-email" style="width: 100%;">
                       <div class="d-flex">
                           <img src="../../../../assets/images/msgIcon.png" alt="" style="width:20px; height:20px; margin-right:10px">
                        <p>send email text message to {{EmpName}}</p>
                       </div>
                       <div class="d-flex">
                           <p>Send via</p>
                           <input type="checkbox" value="" checked>
                           Email
                           <input type="checkbox" value="" checked>
                           SMS Text
                           
                       </div>
                       <div class="text-area">
                        <p>Hello {{EmpName}}</p>
                        <p> Michelle Henriques</p>
                        <img src="../../../../assets/images/send.png" alt="" style="width:30px; height:30px">
                       </div>
                   </div>
               </div>
               <div id="emp-name">
             </div>
             <div id="page-title"></div>
             <div class="personal-data d-flex">
                 <div class="text-section rem-section">
                     <p style="color: rgb(82, 82, 82);">CURRENT ASSIGNMENTS</p>
                     <img src="../../../../assets/images/plus-dup.png" alt="" style="width:20px; height:20px"><span class="val">View Full Schedule</span>
                 </div>
             </div>
             <div id="emp-name">
              </div>
              <div id="page-title"></div>
              <div class="personal-data d-flex">
                <div class="text-section rem-section" style="width: 100%;">
                    <p style="color: rgb(82, 82, 82);text-transform: uppercase;">{{EmpName}} singnature on file</p>
                    <img src="../../../../assets/images/signature.png" alt="" style="width:90px; height:50px">
                    <div class="d-flex signature">
                        <p>{{EmpName}}</p>
                        <p>12/20/2021</p>
                        <p>11:01:00 PM</p>
                    </div>
                </div>
            </div>
            <div id="emp-name">
            </div>
            <div id="page-title"></div>
            </div>
            <div class="col-lg-4 third-col">
                <div class="emp-name d-flex">
                    <img src="../../../../assets/images/less-than-solid.svg" alt="" style="width:20px; height:20px"> {{EmpName}}| {{Etype}} <img src="../../../../assets/images/greater-than-solid.svg" alt="" style="width:20px; height:20px"> 
                </div>
                <div class="personal-data d-flex">
                    <div class="text-section">
                        <div class="d-flex">
                            <img src="../../../../assets/images/circle.png" alt="" style="width:10px; height:10px; margin: 10px;">
                            <p>Also completed 6 hrs of InService claass</p>
                        </div>
                        <div class="d-flex m-2">
                            <img src="../../../../assets/images/plus-dup.png" alt="" style="width:20px; height:20px;">
                            <p class="val">Add Completed</p>
                        </div>
                    </div>
                </div>
                <div id="emp-name">
                 </div>
                 <div id="page-title"></div>
                 <div class="personal-data">
                    <div class="d-flex m-2">
                        <img src="../../../../assets/images/circle.png" alt="" style="width:10px; height:10px; margin: 5px;">
                        <p class="val">Also in permanent resident</p>
                    </div>
                    <div class="d-flex m-2">
                        <img src="../../../../assets/images/circle.png" alt="" style="width:10px; height:10px; margin: 5px;">
                        <p class="val">Current status allows Mojisola Alao to work</p>
                    </div>
                     
                 </div>
                 <div id="emp-name">
                </div>
                <div id="page-title"></div>
                <div class="personal-data section-5">
                    <div class="text-section">
                        <p>COMPLIANCE</p>
                        <p>InService Classes</p>
                        <p class="val">InService Classes</p>
                        <p class="val">Taken : 6 hrs</p>
                        <div class="d-flex m-2">
                            <img src="../../../../assets/images/plus-dup.png" alt="" style="width:20px; height:20px;">
                            <p class="val val1">Add Completed</p>
                        </div>
                    </div>
                </div>
                 <div id="emp-name">
                 </div>
                 <div id="page-title"></div>
                 <div class="personal-data section-6">
                    <div class="text-section">
                        <p>HR</p>
                        <p>HHA</p>
                        <p class="val">Start Date : 11/8/2021</p>
                        <p class="val">Certificate : HHA</p>
                        <p class="val">Validation Date : 20/10/2021</p>
                        <div class="d-flex m-2">
                            <img src="../../../../assets/images/plus-dup.png" alt="" style="width:20px; height:20px;">
                            <p class="val val1">More HR</p>
                        </div>
                    </div>
                </div>
                 
            </div>
        </div>

    </div>

</div>