<div class="panel">
    <div class="panel-body">
        
    
        <div class="row mtm">
            <div class="col-sm-12">
        <div class="table-responsive-max client-table ">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>                                                                             
                                <th width="11%">MONDAY</th>
                                <th width="11%">TUESDAY</th>
                                <th width="11%">WEDNESDAY</th>
                                <th width="11%">THURDASY</th>
                                <th width="11%">FRIDAY</th>
                                <th width="11%">STATURDAY</th>
                                <th width="11%">SUNDAY</th>
                            </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let row of calendar | chunk: 7; let i = index">
                                    <td valign="top" class="client-td" [ngClass]="{'past-date': c.isPastDate, 'today': c.isToday}" *ngFor="let c of row; let j = index">
                                     
                                        <!-- <div class="calendar-day-header" [ngClass]="{'blue-date': c.isToday}"><strong></strong> <strong *ngIf="c.isToday || (i==0 && j==0) || (c.date.getDate() == 1)"> {{monthNames[c.date.getMonth()]}}</strong></div> -->
                                                                      
                                      <div class="row mbs">
                                        <div class="col-sm-12"><strong>{{c.date.getDate()}}</strong> </div>	
                                        
                                  
                                        </div>
                                        <div class="row mbs">
                                        <div class="col-sm-12" *ngFor="let mtm of c.meetingList">	
                                            <div class="client-box-green-dot"></div>
                                             <div class="client-box-yellow-dot"></div>
                                            <div class="client-box box-active">
                                            <p class="mbx"><strong>{{mtm.startTime.toString()}}-{{mtm.endTime}}</strong></p> 
                                              <p class="mbn">{{mtm.clientName}}  </p>                                              
                                            </div>
                                          </div>	
                                          											 
                                        </div>
                                      
                                        <div class="row mbs">
                                            <div class="col-sm-12">
                                                <a href="javascript:void(0)"(click)="addMeeting()">
                                                    <i class="fa fa-plus-square text-orange"></i></a>
                                            
                                            </div>	
                                            
                                      
                                            </div>
                                    </td>
                                  </tr>

                        
                        
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
        </div>
    </div>