<!-- <app-header></app-header>

<router-outlet></router-outlet>
 -->

<div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">Welcome E&S Homecare Solution</div>
        </div>
         <div class="page-header pull-right">
            <div class="page-title"></div>
        </div>
      
     
        <div class="clearfix"></div>
    </div>
    <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
    <div class="page-content">
    <!-- <div class="row ptxxl">
        <div class="col-sm-6 col-md-4 col-xs-12 text-center"><button class="button-hover" routerLink="/Layout/clientlist"><span>Client</span></button></div>
        <div class="col-sm-6 col-md-4 col-xs-12 text-center"><button class="button-hover"  routerLink="/employeeList"><span>Employee</span></button></div>
        <div class="col-sm-6 col-md-4 col-xs-12 text-center"><button class="button-hover" routerLink="/Layout/getinvoicelist" ><span>Invoice</span></button></div>
        </div> -->
        
    </div>
    <!--END CONTENT--></div>
    