<div class="row">
    <div class="col-lg-12">
        <h4 class="mtm mbm text-uppercase  text-orange"> <strong>Diagnosis</strong> </h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="row mbm">
            <div class="col-sm-12 text-14">
                <a href="javascript:void(0)" (click)="openModal(templatelog)" class="btn btn-md btn-default"><i
                        class="fa fa-plus-square text-orange"></i> Add </a>
            </div>
            <ng-template #templatelog>
                <div class="modal-header">
                    <h4 class="modal-title pull-left text-orange">Add Diagnosis</h4>
                    <button type="button" class="btn-close close pull-right" aria-label="Close"
                        (click)="decline();">
                        <span aria-hidden="true" class="visually-hidden">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="frmDiagnosis" #frmDiagnosis="ngForm">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="control-label">Order</label>
                                    <input type="number" #orderNo="ngModel" id="txtorderNo" name="orderNo"
                                        [(ngModel)]="model.orderNo" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="control-label"> ICD-10 Diagnosis Codes and Description</label>
                                            <select class="form-control" #dxId="ngModel" id="ddldxId" name="dxId"
                                            [(ngModel)]="model.dxId">
                                            <option value="-1" disabled>Select</option>
                                            <option *ngFor="let obj of diagnosisList" [value]="obj.itemId">
                                                {{ obj.itemName }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="control-label">Primary</label>
                                    <input type="checkbox" name="isPrimary" [(ngModel)]="model.isPrimary" >

                                    <input type="hidden" [(ngModel)]="model.entityId" >

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <button type="button" (click)="saveModel();" class="btn btn-md btn-dark">Save Changes</button>                               
                            </div>
                        </div>
                    </form>
                </div>
            </ng-template>
        </div>
        <div class="row mbm" *ngIf="modelList.length>0">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Prime </th>
                                <th>Order</th>
                                <th>Diagnosis Code</th>
                                <th>Description</th>
                                <th>Added By</th>
                                <th>Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of modelList;">   
                                <td>{{ item.isPrimary }}</td>                            
                                <td>{{ item.orderNo }}</td>
                                <td>{{ item.dxCodes }}</td>
                                <td>{{ item.description }}</td>
                                <td>{{ item.addedBy }}</td>
                                <td>{{ item.createdOn }}</td>
                          <td>
                            <i class="fa fa-edit text-red medium-txt pts" (click)="updateModel(item)"></i>
                            <i class="fa fa-trash-o text-red medium-txt pts" (click)="delModel(item.diagnosisId)" ></i>
                            </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>