<!-- <form (ngSubmit)="OnSubmit(f)" #f="ngForm"> -->
<!--<table>
    <tr>
        <td>
            Client Name
        </td>
        <td>
            {{ clientmeetingList[0].firstName }}
        </td>
    </tr>
    <tr>
        <td>
            Meeting DateTime
        </td>
        <td>
            <input type="date" (change)="onMeetingDateChnage($any($event.target).value)" id="firstname" name="txtDHire" ngModel>
        </td>
    </tr>
    <tr>
        <td>
            Date Of Service
        </td>
        <td>
            {{ meetingdate }}
        </td>
    </tr>
    <tr>
        <td>
            Time IN
        </td>
        <td>
            <select id="state" (change)="GetMeetingTimeIN($any($event.target).value)" name="cars" class="round">
                <option value="1:12:00:AM">12:00 AM</option>
                <option value="2:12:15:AM">12:15 AM</option>
                <option value="3:12:30:AM">12:30 AM</option>
                <option value="4:12:45:AM">12:45 AM</option>
                <option value="5:01:00:AM">01:00 AM</option>
                <option value="6:01:15:AM">01:15 AM</option>
                <option value="7:01:30:AM">01:30 AM</option>
                <option value="8:01:45:AM">01:45 AM</option>
                <option value="9:02:00:AM">02:00 AM</option>
                <option value="10:02:15:AM">02:15 AM</option>
                <option value="11:02:30:AM">02:30 AM</option>
                <option value="12:02:45:AM">02:45 AM</option>
                <option value="13:03:00:AM">03:00 AM</option>
                <option value="14:03:15:AM">03:15 AM</option>
                <option value="15:03:30:AM">03:30 AM</option>
                <option value="16:03:45:AM">03:45 AM</option>
                <option value="17:04:00:AM">04:00 AM</option>
                <option value="18:04:15:AM">04:15 AM</option>
                <option value="19:04:30:AM">04:30 AM</option>
                <option value="20:04:45:AM">04:45 AM</option>
                <option value="21:05:00:AM">05:00 AM</option>
                <option value="22:05:15:AM">05:15 AM</option>
                <option value="23:05:30:AM">05:30 AM</option>
                <option value="24:05:45:AM">05:45 AM</option>
                <option value="25:06:00:AM">06:00 AM</option>
                <option value="26:06:15:AM">06:15 AM</option>
                <option value="27:06:30:AM">06:30 AM</option>
                <option value="28:06:45:AM">06:45 AM</option>
                <option value="29:07:00:AM">07:00 AM</option>
                <option value="30:07:15:AM">07:15 AM</option>
                <option value="31:07:30:AM">07:30 AM</option>
                <option value="32:07:45:AM">07:45 AM</option>
                <option value="33:08:00:AM">08:00 AM</option>
                <option value="34:08:15:AM">08:15 AM</option>
                <option value="35:08:30:AM">08:30 AM</option>
                <option value="36:08:45:AM">08:45 AM</option>
                <option value="37:09:00:AM">09:00 AM</option>
                <option value="38:09:15:AM">09:15 AM</option>
                <option value="39:09:30:AM">09:30 AM</option>
                <option value="40:09:45:AM">09:45 AM</option>
                <option value="41:10:00:AM">10:00 AM</option>
                <option value="42:10:15:AM">10:15 AM</option>
                <option value="43:10:30:AM">10:30 AM</option>
                <option value="44:10:45:AM">10:45 AM</option>
                <option value="45:11:00:AM">11:00 AM</option>
                <option value="46:11:15:AM">11:15 AM</option>
                <option value="47:11:30:AM">11:30 AM</option>
                <option value="48:11:45:AM">11:45 AM</option>
                <option value="49:12:00:PM">12:00 PM</option>
                <option value="50:12:15:PM">12:15 PM</option>
                <option value="51:12:30:PM">12:30 PM</option>
                <option value="52:12:45:PM">12:45 PM</option>
                <option value="53:01:00:PM">01:00 PM</option>
                <option value="54:01:15:PM">01:15 PM</option>
                <option value="55:01:30:PM">01:30 PM</option>
                <option value="56:01:45:PM">01:45 PM</option>
                <option value="57:02:00:PM">02:00 PM</option>
                <option value="58:02:15:PM">02:15 PM</option>
                <option value="59:02:30:PM">02:30 PM</option>
                <option value="60:02:45:PM">02:45 PM</option>
                <option value="61:03:00:PM">03:00 PM</option>
                <option value="62:03:15:PM">03:15 PM</option>
                <option value="63:03:30:PM">03:30 PM</option>
                <option value="64:03:45:PM">03:45 PM</option>
                <option value="65:04:00:PM">04:00 PM</option>
                <option value="66:04:15:PM">04:15 PM</option>
                <option value="67:04:30:PM">04:30 PM</option>
                <option value="68:04:45:PM">04:45 PM</option>
                <option value="69:05:00:PM">05:00 PM</option>
                <option value="70:05:15:PM">05:15 PM</option>
                <option value="71:05:30:PM">05:30 PM</option>
                <option value="72:05:45:PM">05:45 PM</option>
                <option value="73:06:00:PM">06:00 PM</option>
                <option value="74:06:15:PM">06:15 PM</option>
                <option value="75:06:30:PM">06:30 PM</option>
                <option value="76:06:45:PM">06:45 PM</option>
                <option value="77:07:00:PM">07:00 PM</option>
                <option value="78:07:15:PM">07:15 PM</option>
                <option value="79:07:30:PM">07:30 PM</option>
                <option value="80:07:45:PM">07:45 PM</option>
                <option value="81:08:00:PM">08:00 PM</option>
                <option value="82:08:15:PM">08:15 PM</option>
                <option value="83:08:30:PM">08:30 PM</option>
                <option value="84:08:45:PM">08:45 PM</option>
                <option value="85:09:00:PM">09:00 PM</option>
                <option value="86:09:15:PM">09:15 PM</option>
                <option value="87:09:30:PM">09:30 PM</option>
                <option value="88:09:45:PM">09:45 PM</option>
                <option value="89:10:00:PM">10:00 PM</option>
                <option value="90:10:15:PM">10:15 PM</option>
                <option value="91:10:30:PM">10:30 PM</option>
                <option value="92:10:45:PM">10:45 PM</option>
                <option value="93:11:00:PM">11:00 PM</option>
                <option value="94:11:15:PM">11:15 PM</option>
                <option value="95:11:30:PM">11:30 PM</option>
                <option value="96:11:45:PM">11:45 PM</option>
              </select>
        </td>
    </tr>
    <tr>
        <td>
            Time Out
        </td>
        <td>
            <select id="state" (change)="GetMeetingTimeOUT($any($event.target).value)" name="cars" class="round">
                <option value="1:12:00:AM">12:00 AM</option>
                <option value="2:12:15:AM">12:15 AM</option>
                <option value="3:12:30:AM">12:30 AM</option>
                <option value="4:12:45:AM">12:45 AM</option>
                <option value="5:01:00:AM">01:00 AM</option>
                <option value="6:01:15:AM">01:15 AM</option>
                <option value="7:01:30:AM">01:30 AM</option>
                <option value="8:01:45:AM">01:45 AM</option>
                <option value="9:02:00:AM">02:00 AM</option>
                <option value="10:02:15:AM">02:15 AM</option>
                <option value="11:02:30:AM">02:30 AM</option>
                <option value="12:02:45:AM">02:45 AM</option>
                <option value="13:03:00:AM">03:00 AM</option>
                <option value="14:03:15:AM">03:15 AM</option>
                <option value="15:03:30:AM">03:30 AM</option>
                <option value="16:03:45:AM">03:45 AM</option>
                <option value="17:04:00:AM">04:00 AM</option>
                <option value="18:04:15:AM">04:15 AM</option>
                <option value="19:04:30:AM">04:30 AM</option>
                <option value="20:04:45:AM">04:45 AM</option>
                <option value="21:05:00:AM">05:00 AM</option>
                <option value="22:05:15:AM">05:15 AM</option>
                <option value="23:05:30:AM">05:30 AM</option>
                <option value="24:05:45:AM">05:45 AM</option>
                <option value="25:06:00:AM">06:00 AM</option>
                <option value="26:06:15:AM">06:15 AM</option>
                <option value="27:06:30:AM">06:30 AM</option>
                <option value="28:06:45:AM">06:45 AM</option>
                <option value="29:07:00:AM">07:00 AM</option>
                <option value="30:07:15:AM">07:15 AM</option>
                <option value="31:07:30:AM">07:30 AM</option>
                <option value="32:07:45:AM">07:45 AM</option>
                <option value="33:08:00:AM">08:00 AM</option>
                <option value="34:08:15:AM">08:15 AM</option>
                <option value="35:08:30:AM">08:30 AM</option>
                <option value="36:08:45:AM">08:45 AM</option>
                <option value="37:09:00:AM">09:00 AM</option>
                <option value="38:09:15:AM">09:15 AM</option>
                <option value="39:09:30:AM">09:30 AM</option>
                <option value="40:09:45:AM">09:45 AM</option>
                <option value="41:10:00:AM">10:00 AM</option>
                <option value="42:10:15:AM">10:15 AM</option>
                <option value="43:10:30:AM">10:30 AM</option>
                <option value="44:10:45:AM">10:45 AM</option>
                <option value="45:11:00:AM">11:00 AM</option>
                <option value="46:11:15:AM">11:15 AM</option>
                <option value="47:11:30:AM">11:30 AM</option>
                <option value="48:11:45:AM">11:45 AM</option>
                <option value="49:12:00:PM">12:00 PM</option>
                <option value="50:12:15:PM">12:15 PM</option>
                <option value="51:12:30:PM">12:30 PM</option>
                <option value="52:12:45:PM">12:45 PM</option>
                <option value="53:01:00:PM">01:00 PM</option>
                <option value="54:01:15:PM">01:15 PM</option>
                <option value="55:01:30:PM">01:30 PM</option>
                <option value="56:01:45:PM">01:45 PM</option>
                <option value="57:02:00:PM">02:00 PM</option>
                <option value="58:02:15:PM">02:15 PM</option>
                <option value="59:02:30:PM">02:30 PM</option>
                <option value="60:02:45:PM">02:45 PM</option>
                <option value="61:03:00:PM">03:00 PM</option>
                <option value="62:03:15:PM">03:15 PM</option>
                <option value="63:03:30:PM">03:30 PM</option>
                <option value="64:03:45:PM">03:45 PM</option>
                <option value="65:04:00:PM">04:00 PM</option>
                <option value="66:04:15:PM">04:15 PM</option>
                <option value="67:04:30:PM">04:30 PM</option>
                <option value="68:04:45:PM">04:45 PM</option>
                <option value="69:05:00:PM">05:00 PM</option>
                <option value="70:05:15:PM">05:15 PM</option>
                <option value="71:05:30:PM">05:30 PM</option>
                <option value="72:05:45:PM">05:45 PM</option>
                <option value="73:06:00:PM">06:00 PM</option>
                <option value="74:06:15:PM">06:15 PM</option>
                <option value="75:06:30:PM">06:30 PM</option>
                <option value="76:06:45:PM">06:45 PM</option>
                <option value="77:07:00:PM">07:00 PM</option>
                <option value="78:07:15:PM">07:15 PM</option>
                <option value="79:07:30:PM">07:30 PM</option>
                <option value="80:07:45:PM">07:45 PM</option>
                <option value="81:08:00:PM">08:00 PM</option>
                <option value="82:08:15:PM">08:15 PM</option>
                <option value="83:08:30:PM">08:30 PM</option>
                <option value="84:08:45:PM">08:45 PM</option>
                <option value="85:09:00:PM">09:00 PM</option>
                <option value="86:09:15:PM">09:15 PM</option>
                <option value="87:09:30:PM">09:30 PM</option>
                <option value="88:09:45:PM">09:45 PM</option>
                <option value="89:10:00:PM">10:00 PM</option>
                <option value="90:10:15:PM">10:15 PM</option>
                <option value="91:10:30:PM">10:30 PM</option>
                <option value="92:10:45:PM">10:45 PM</option>
                <option value="93:11:00:PM">11:00 PM</option>
                <option value="94:11:15:PM">11:15 PM</option>
                <option value="95:11:30:PM">11:30 PM</option>
                <option value="96:11:45:PM">11:45 PM</option>
              </select>
        </td>
    </tr>
    <tr *ngIf="errorStatus" >
        <td colspan="2">
            <div 
                                class="alert alert-danger">
                                {{ errormessage }}
                            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <a class="btn btn-primary" (click) = "ScheduleMeeting()">ScheduleMeeting</a>
        </td>
    </tr>
    <tr>
        <td>
            Client Name
        </td>
        <td>
            {{ clientmeetingList[0].firstName }} , {{ clientmeetingList[0].lastName }}
        </td>
    </tr>
    <tr>
        <td>
            Address
        </td>
        <td>
            {{ clientmeetingList[0].country }},
            {{ clientmeetingList[0].cState }},
            {{ clientmeetingList[0].zipCode }},
            {{ clientmeetingList[0].city }},
            
            {{ clientmeetingList[0].email }}
        </td>
    </tr>
    <tr>
        <td>
            Phone
        </td>
        <td>
            {{ clientmeetingList[0].cellPhone }},
        </td>
    </tr>
</table>-->
<div class="client-event-container container-fluid">
    <div class="row">
        <div class="col-lg-12 event-container">
            <div class="container-header">SHIFT:DAY</div>
            <div class="name-header">attending, {{ clientmeetingList[0].firstName }}</div>
            <div class="time-header">Monday {{ meetingdate | date }} 09:00AM - 05:00PM</div>
            <div class="d-flex time-section mt-40">
                <div>
                    <p class="date">Date of Service</p><br>
                    <p class="time-text">Meeting Date </p><input type="date" (change)="onMeetingDateChnage($any($event.target).value)" id="firstname" name="txtDHire" ngModel>
                    &nbsp; &nbsp;<br><br>
                    <p class="time-text">Time In</p><select id="state" (change)="GetMeetingTimeIN($any($event.target).value)" name="cars" class="round">
                        <option value="1:12:00:AM"></option>
                        <option value="1:12:00:AM">12:00 AM</option>
                        <option value="2:12:15:AM">12:15 AM</option>
                        <option value="3:12:30:AM">12:30 AM</option>
                        <option value="4:12:45:AM">12:45 AM</option>
                        <option value="5:01:00:AM">01:00 AM</option>
                        <option value="6:01:15:AM">01:15 AM</option>
                        <option value="7:01:30:AM">01:30 AM</option>
                        <option value="8:01:45:AM">01:45 AM</option>
                        <option value="9:02:00:AM">02:00 AM</option>
                        <option value="10:02:15:AM">02:15 AM</option>
                        <option value="11:02:30:AM">02:30 AM</option>
                        <option value="12:02:45:AM">02:45 AM</option>
                        <option value="13:03:00:AM">03:00 AM</option>
                        <option value="14:03:15:AM">03:15 AM</option>
                        <option value="15:03:30:AM">03:30 AM</option>
                        <option value="16:03:45:AM">03:45 AM</option>
                        <option value="17:04:00:AM">04:00 AM</option>
                        <option value="18:04:15:AM">04:15 AM</option>
                        <option value="19:04:30:AM">04:30 AM</option>
                        <option value="20:04:45:AM">04:45 AM</option>
                        <option value="21:05:00:AM">05:00 AM</option>
                        <option value="22:05:15:AM">05:15 AM</option>
                        <option value="23:05:30:AM">05:30 AM</option>
                        <option value="24:05:45:AM">05:45 AM</option>
                        <option value="25:06:00:AM">06:00 AM</option>
                        <option value="26:06:15:AM">06:15 AM</option>
                        <option value="27:06:30:AM">06:30 AM</option>
                        <option value="28:06:45:AM">06:45 AM</option>
                        <option value="29:07:00:AM">07:00 AM</option>
                        <option value="30:07:15:AM">07:15 AM</option>
                        <option value="31:07:30:AM">07:30 AM</option>
                        <option value="32:07:45:AM">07:45 AM</option>
                        <option value="33:08:00:AM">08:00 AM</option>
                        <option value="34:08:15:AM">08:15 AM</option>
                        <option value="35:08:30:AM">08:30 AM</option>
                        <option value="36:08:45:AM">08:45 AM</option>
                        <option value="37:09:00:AM">09:00 AM</option>
                        <option value="38:09:15:AM">09:15 AM</option>
                        <option value="39:09:30:AM">09:30 AM</option>
                        <option value="40:09:45:AM">09:45 AM</option>
                        <option value="41:10:00:AM">10:00 AM</option>
                        <option value="42:10:15:AM">10:15 AM</option>
                        <option value="43:10:30:AM">10:30 AM</option>
                        <option value="44:10:45:AM">10:45 AM</option>
                        <option value="45:11:00:AM">11:00 AM</option>
                        <option value="46:11:15:AM">11:15 AM</option>
                        <option value="47:11:30:AM">11:30 AM</option>
                        <option value="48:11:45:AM">11:45 AM</option>
                        <option value="49:12:00:PM">12:00 PM</option>
                        <option value="50:12:15:PM">12:15 PM</option>
                        <option value="51:12:30:PM">12:30 PM</option>
                        <option value="52:12:45:PM">12:45 PM</option>
                        <option value="53:01:00:PM">01:00 PM</option>
                        <option value="54:01:15:PM">01:15 PM</option>
                        <option value="55:01:30:PM">01:30 PM</option>
                        <option value="56:01:45:PM">01:45 PM</option>
                        <option value="57:02:00:PM">02:00 PM</option>
                        <option value="58:02:15:PM">02:15 PM</option>
                        <option value="59:02:30:PM">02:30 PM</option>
                        <option value="60:02:45:PM">02:45 PM</option>
                        <option value="61:03:00:PM">03:00 PM</option>
                        <option value="62:03:15:PM">03:15 PM</option>
                        <option value="63:03:30:PM">03:30 PM</option>
                        <option value="64:03:45:PM">03:45 PM</option>
                        <option value="65:04:00:PM">04:00 PM</option>
                        <option value="66:04:15:PM">04:15 PM</option>
                        <option value="67:04:30:PM">04:30 PM</option>
                        <option value="68:04:45:PM">04:45 PM</option>
                        <option value="69:05:00:PM">05:00 PM</option>
                        <option value="70:05:15:PM">05:15 PM</option>
                        <option value="71:05:30:PM">05:30 PM</option>
                        <option value="72:05:45:PM">05:45 PM</option>
                        <option value="73:06:00:PM">06:00 PM</option>
                        <option value="74:06:15:PM">06:15 PM</option>
                        <option value="75:06:30:PM">06:30 PM</option>
                        <option value="76:06:45:PM">06:45 PM</option>
                        <option value="77:07:00:PM">07:00 PM</option>
                        <option value="78:07:15:PM">07:15 PM</option>
                        <option value="79:07:30:PM">07:30 PM</option>
                        <option value="80:07:45:PM">07:45 PM</option>
                        <option value="81:08:00:PM">08:00 PM</option>
                        <option value="82:08:15:PM">08:15 PM</option>
                        <option value="83:08:30:PM">08:30 PM</option>
                        <option value="84:08:45:PM">08:45 PM</option>
                        <option value="85:09:00:PM">09:00 PM</option>
                        <option value="86:09:15:PM">09:15 PM</option>
                        <option value="87:09:30:PM">09:30 PM</option>
                        <option value="88:09:45:PM">09:45 PM</option>
                        <option value="89:10:00:PM">10:00 PM</option>
                        <option value="90:10:15:PM">10:15 PM</option>
                        <option value="91:10:30:PM">10:30 PM</option>
                        <option value="92:10:45:PM">10:45 PM</option>
                        <option value="93:11:00:PM">11:00 PM</option>
                        <option value="94:11:15:PM">11:15 PM</option>
                        <option value="95:11:30:PM">11:30 PM</option>
                        <option value="96:11:45:PM">11:45 PM</option>
                      </select>
                      <p class="time-text">Time Out</p><select id="state" (change)="GetMeetingTimeOUT($any($event.target).value)" name="cars" class="round">
                        <option value="1:12:00:AM"></option>
                        <option value="1:12:00:AM">12:00 AM</option>
                        <option value="2:12:15:AM">12:15 AM</option>
                        <option value="3:12:30:AM">12:30 AM</option>
                        <option value="4:12:45:AM">12:45 AM</option>
                        <option value="5:01:00:AM">01:00 AM</option>
                        <option value="6:01:15:AM">01:15 AM</option>
                        <option value="7:01:30:AM">01:30 AM</option>
                        <option value="8:01:45:AM">01:45 AM</option>
                        <option value="9:02:00:AM">02:00 AM</option>
                        <option value="10:02:15:AM">02:15 AM</option>
                        <option value="11:02:30:AM">02:30 AM</option>
                        <option value="12:02:45:AM">02:45 AM</option>
                        <option value="13:03:00:AM">03:00 AM</option>
                        <option value="14:03:15:AM">03:15 AM</option>
                        <option value="15:03:30:AM">03:30 AM</option>
                        <option value="16:03:45:AM">03:45 AM</option>
                        <option value="17:04:00:AM">04:00 AM</option>
                        <option value="18:04:15:AM">04:15 AM</option>
                        <option value="19:04:30:AM">04:30 AM</option>
                        <option value="20:04:45:AM">04:45 AM</option>
                        <option value="21:05:00:AM">05:00 AM</option>
                        <option value="22:05:15:AM">05:15 AM</option>
                        <option value="23:05:30:AM">05:30 AM</option>
                        <option value="24:05:45:AM">05:45 AM</option>
                        <option value="25:06:00:AM">06:00 AM</option>
                        <option value="26:06:15:AM">06:15 AM</option>
                        <option value="27:06:30:AM">06:30 AM</option>
                        <option value="28:06:45:AM">06:45 AM</option>
                        <option value="29:07:00:AM">07:00 AM</option>
                        <option value="30:07:15:AM">07:15 AM</option>
                        <option value="31:07:30:AM">07:30 AM</option>
                        <option value="32:07:45:AM">07:45 AM</option>
                        <option value="33:08:00:AM">08:00 AM</option>
                        <option value="34:08:15:AM">08:15 AM</option>
                        <option value="35:08:30:AM">08:30 AM</option>
                        <option value="36:08:45:AM">08:45 AM</option>
                        <option value="37:09:00:AM">09:00 AM</option>
                        <option value="38:09:15:AM">09:15 AM</option>
                        <option value="39:09:30:AM">09:30 AM</option>
                        <option value="40:09:45:AM">09:45 AM</option>
                        <option value="41:10:00:AM">10:00 AM</option>
                        <option value="42:10:15:AM">10:15 AM</option>
                        <option value="43:10:30:AM">10:30 AM</option>
                        <option value="44:10:45:AM">10:45 AM</option>
                        <option value="45:11:00:AM">11:00 AM</option>
                        <option value="46:11:15:AM">11:15 AM</option>
                        <option value="47:11:30:AM">11:30 AM</option>
                        <option value="48:11:45:AM">11:45 AM</option>
                        <option value="49:12:00:PM">12:00 PM</option>
                        <option value="50:12:15:PM">12:15 PM</option>
                        <option value="51:12:30:PM">12:30 PM</option>
                        <option value="52:12:45:PM">12:45 PM</option>
                        <option value="53:01:00:PM">01:00 PM</option>
                        <option value="54:01:15:PM">01:15 PM</option>
                        <option value="55:01:30:PM">01:30 PM</option>
                        <option value="56:01:45:PM">01:45 PM</option>
                        <option value="57:02:00:PM">02:00 PM</option>
                        <option value="58:02:15:PM">02:15 PM</option>
                        <option value="59:02:30:PM">02:30 PM</option>
                        <option value="60:02:45:PM">02:45 PM</option>
                        <option value="61:03:00:PM">03:00 PM</option>
                        <option value="62:03:15:PM">03:15 PM</option>
                        <option value="63:03:30:PM">03:30 PM</option>
                        <option value="64:03:45:PM">03:45 PM</option>
                        <option value="65:04:00:PM">04:00 PM</option>
                        <option value="66:04:15:PM">04:15 PM</option>
                        <option value="67:04:30:PM">04:30 PM</option>
                        <option value="68:04:45:PM">04:45 PM</option>
                        <option value="69:05:00:PM">05:00 PM</option>
                        <option value="70:05:15:PM">05:15 PM</option>
                        <option value="71:05:30:PM">05:30 PM</option>
                        <option value="72:05:45:PM">05:45 PM</option>
                        <option value="73:06:00:PM">06:00 PM</option>
                        <option value="74:06:15:PM">06:15 PM</option>
                        <option value="75:06:30:PM">06:30 PM</option>
                        <option value="76:06:45:PM">06:45 PM</option>
                        <option value="77:07:00:PM">07:00 PM</option>
                        <option value="78:07:15:PM">07:15 PM</option>
                        <option value="79:07:30:PM">07:30 PM</option>
                        <option value="80:07:45:PM">07:45 PM</option>
                        <option value="81:08:00:PM">08:00 PM</option>
                        <option value="82:08:15:PM">08:15 PM</option>
                        <option value="83:08:30:PM">08:30 PM</option>
                        <option value="84:08:45:PM">08:45 PM</option>
                        <option value="85:09:00:PM">09:00 PM</option>
                        <option value="86:09:15:PM">09:15 PM</option>
                        <option value="87:09:30:PM">09:30 PM</option>
                        <option value="88:09:45:PM">09:45 PM</option>
                        <option value="89:10:00:PM">10:00 PM</option>
                        <option value="90:10:15:PM">10:15 PM</option>
                        <option value="91:10:30:PM">10:30 PM</option>
                        <option value="92:10:45:PM">10:45 PM</option>
                        <option value="93:11:00:PM">11:00 PM</option>
                        <option value="94:11:15:PM">11:15 PM</option>
                        <option value="95:11:30:PM">11:30 PM</option>
                        <option value="96:11:45:PM">11:45 PM</option>
                      </select> 
                      <p class="time-text">{{timeDiff}}</p>
                </div>
                <div>
                    <button  (click) = "ScheduleMeeting()">SCHEDULE</button>
                    <p class="errormessage">{{errormessage}}</p>
                </div>
            </div>
            <div class="container-header">PAYER, RATE, AUTHORIZATION</div>
            <p class="click-here">Click here select authorization</p>
            <div class="notes">
                
                <i class="fa fa-plus"></i>&nbsp; &nbsp; &nbsp; ADD NOTES
            </div>
        </div>
        
    </div>
    <div class="row d-flex container-section">
        <div class="event-container-half client-details">
            <div class="container-header">CLIENT</div>
            <div class="name-header">{{ clientmeetingList[0].firstName }} , {{ clientmeetingList[0].lastName }}</div>
            <p class="id">ID:137957</p>
            <div class="contact-details">
                <img src="../../../../assets/images/mapa.png" alt="">
                <div class="d-flex">
                    <p class="address">
                        {{ clientmeetingList[0].city }}<br>
                        {{ clientmeetingList[0].cState }}<br>
                        {{ clientmeetingList[0].country }} {{ clientmeetingList[0].zipCode }}<br>
                    </p>
                    <p class="phone">
                        Phone: {{ clientmeetingList[0].cellPhone }}<br>
                        Phone: (252) 382-5137
                    </p>
                </div>
            </div>

            <p>Coordinator: <b>Ruano, Diana</b></p>
            <div class="notes">
                
                <i class="fa fa-plus"></i> Select another case
            </div>
        </div>
        <div class="event-container-half employee-detail">
            <div class="container-header">EMPLOYEE</div>
            <div class="name-header">Open Case. CLICK HERE</div>
            <p>Replacement <input type="checkbox"></p>
        </div>
    </div>
    <div class="notes color-black">
                
        <i class="fa fa-plus"></i> BILLING/PAYROLL
    </div>
    <div class="notes color-black">
                
        <i class="fa fa-plus"></i> ADDITIONAL ITEMS/CPT
    </div>
    <div class="notes color-black">
                
        <i class="fa fa-plus"></i> REQUIRED FORMS
    </div>
</div>

