<div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">Schedule</div>
        </div>     
    <div class="clearfix"></div>
    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
    <!--BEGIN CONTENT-->
    <div class="page-content">
        <div class="row mbl">
                <div class="col-sm-12">
                
                    <button type="button" class="btn btn-lg btn-primary mtx">Attendance</button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-lg btn-primary mtx">Availability Search</button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-lg btn-primary mtx">Akki Monthly Schedule</button>
                </div>
            </div>
        <div class="panel">
        <div class="panel-body">
            
            <div class="row mtm">
                <div class="col-sm-3 col-xs-12">
                    <div class="form-group"><label class="control-label">Date of Service</label>
                       <input type="date" class="form-control" (change)="onMeetingDateChnage($any($event.target).value)" id="firstname" name="txtDHire"  ngModel>
                    </div>
                </div>
            
                
                    <div class="col-sm-3 col-xs-4">
                        <div class="form-group"><label class="control-label">Time In</label>
                            <select class="form-control" (change)="GetMeetingTimeIN($any($event.target).value)" name="cars">
                                <option value="1:12:00:AM"></option>
                                <option value="1:12:00:AM">12:00 AM</option>
                                <option value="2:12:15:AM">12:15 AM</option>
                                <option value="3:12:30:AM">12:30 AM</option>
                                <option value="4:12:45:AM">12:45 AM</option>
                                <option value="5:01:00:AM">01:00 AM</option>
                                <option value="6:01:15:AM">01:15 AM</option>
                                <option value="7:01:30:AM">01:30 AM</option>
                                <option value="8:01:45:AM">01:45 AM</option>
                                <option value="9:02:00:AM">02:00 AM</option>
                                <option value="10:02:15:AM">02:15 AM</option>
                                <option value="11:02:30:AM">02:30 AM</option>
                                <option value="12:02:45:AM">02:45 AM</option>
                                <option value="13:03:00:AM">03:00 AM</option>
                                <option value="14:03:15:AM">03:15 AM</option>
                                <option value="15:03:30:AM">03:30 AM</option>
                                <option value="16:03:45:AM">03:45 AM</option>
                                <option value="17:04:00:AM">04:00 AM</option>
                                <option value="18:04:15:AM">04:15 AM</option>
                                <option value="19:04:30:AM">04:30 AM</option>
                                <option value="20:04:45:AM">04:45 AM</option>
                                <option value="21:05:00:AM">05:00 AM</option>
                                <option value="22:05:15:AM">05:15 AM</option>
                                <option value="23:05:30:AM">05:30 AM</option>
                                <option value="24:05:45:AM">05:45 AM</option>
                                <option value="25:06:00:AM">06:00 AM</option>
                                <option value="26:06:15:AM">06:15 AM</option>
                                <option value="27:06:30:AM">06:30 AM</option>
                                <option value="28:06:45:AM">06:45 AM</option>
                                <option value="29:07:00:AM">07:00 AM</option>
                                <option value="30:07:15:AM">07:15 AM</option>
                                <option value="31:07:30:AM">07:30 AM</option>
                                <option value="32:07:45:AM">07:45 AM</option>
                                <option value="33:08:00:AM">08:00 AM</option>
                                <option value="34:08:15:AM">08:15 AM</option>
                                <option value="35:08:30:AM">08:30 AM</option>
                                <option value="36:08:45:AM">08:45 AM</option>
                                <option value="37:09:00:AM">09:00 AM</option>
                                <option value="38:09:15:AM">09:15 AM</option>
                                <option value="39:09:30:AM">09:30 AM</option>
                                <option value="40:09:45:AM">09:45 AM</option>
                                <option value="41:10:00:AM">10:00 AM</option>
                                <option value="42:10:15:AM">10:15 AM</option>
                                <option value="43:10:30:AM">10:30 AM</option>
                                <option value="44:10:45:AM">10:45 AM</option>
                                <option value="45:11:00:AM">11:00 AM</option>
                                <option value="46:11:15:AM">11:15 AM</option>
                                <option value="47:11:30:AM">11:30 AM</option>
                                <option value="48:11:45:AM">11:45 AM</option>
                                <option value="49:12:00:PM">12:00 PM</option>
                                <option value="50:12:15:PM">12:15 PM</option>
                                <option value="51:12:30:PM">12:30 PM</option>
                                <option value="52:12:45:PM">12:45 PM</option>
                                <option value="53:01:00:PM">01:00 PM</option>
                                <option value="54:01:15:PM">01:15 PM</option>
                                <option value="55:01:30:PM">01:30 PM</option>
                                <option value="56:01:45:PM">01:45 PM</option>
                                <option value="57:02:00:PM">02:00 PM</option>
                                <option value="58:02:15:PM">02:15 PM</option>
                                <option value="59:02:30:PM">02:30 PM</option>
                                <option value="60:02:45:PM">02:45 PM</option>
                                <option value="61:03:00:PM">03:00 PM</option>
                                <option value="62:03:15:PM">03:15 PM</option>
                                <option value="63:03:30:PM">03:30 PM</option>
                                <option value="64:03:45:PM">03:45 PM</option>
                                <option value="65:04:00:PM">04:00 PM</option>
                                <option value="66:04:15:PM">04:15 PM</option>
                                <option value="67:04:30:PM">04:30 PM</option>
                                <option value="68:04:45:PM">04:45 PM</option>
                                <option value="69:05:00:PM">05:00 PM</option>
                                <option value="70:05:15:PM">05:15 PM</option>
                                <option value="71:05:30:PM">05:30 PM</option>
                                <option value="72:05:45:PM">05:45 PM</option>
                                <option value="73:06:00:PM">06:00 PM</option>
                                <option value="74:06:15:PM">06:15 PM</option>
                                <option value="75:06:30:PM">06:30 PM</option>
                                <option value="76:06:45:PM">06:45 PM</option>
                                <option value="77:07:00:PM">07:00 PM</option>
                                <option value="78:07:15:PM">07:15 PM</option>
                                <option value="79:07:30:PM">07:30 PM</option>
                                <option value="80:07:45:PM">07:45 PM</option>
                                <option value="81:08:00:PM">08:00 PM</option>
                                <option value="82:08:15:PM">08:15 PM</option>
                                <option value="83:08:30:PM">08:30 PM</option>
                                <option value="84:08:45:PM">08:45 PM</option>
                                <option value="85:09:00:PM">09:00 PM</option>
                                <option value="86:09:15:PM">09:15 PM</option>
                                <option value="87:09:30:PM">09:30 PM</option>
                                <option value="88:09:45:PM">09:45 PM</option>
                                <option value="89:10:00:PM">10:00 PM</option>
                                <option value="90:10:15:PM">10:15 PM</option>
                                <option value="91:10:30:PM">10:30 PM</option>
                                <option value="92:10:45:PM">10:45 PM</option>
                                <option value="93:11:00:PM">11:00 PM</option>
                                <option value="94:11:15:PM">11:15 PM</option>
                                <option value="95:11:30:PM">11:30 PM</option>
                                <option value="96:11:45:PM">11:45 PM</option>
            
                                    </select>
                        </div>
                    </div>
            
                        <div class="col-sm-3 col-xs-4">
                            <div class="form-group"><label class="control-label">Time Out</label>
                                <select class="form-control" id="state" (change)="GetMeetingTimeOUT($any($event.target).value)" name="cars">
                                    <option value="1:12:00:AM"></option>
                                    <option value="1:12:00:AM">12:00 AM</option>
                                    <option value="2:12:15:AM">12:15 AM</option>
                                    <option value="3:12:30:AM">12:30 AM</option>
                                    <option value="4:12:45:AM">12:45 AM</option>
                                    <option value="5:01:00:AM">01:00 AM</option>
                                    <option value="6:01:15:AM">01:15 AM</option>
                                    <option value="7:01:30:AM">01:30 AM</option>
                                    <option value="8:01:45:AM">01:45 AM</option>
                                    <option value="9:02:00:AM">02:00 AM</option>
                                    <option value="10:02:15:AM">02:15 AM</option>
                                    <option value="11:02:30:AM">02:30 AM</option>
                                    <option value="12:02:45:AM">02:45 AM</option>
                                    <option value="13:03:00:AM">03:00 AM</option>
                                    <option value="14:03:15:AM">03:15 AM</option>
                                    <option value="15:03:30:AM">03:30 AM</option>
                                    <option value="16:03:45:AM">03:45 AM</option>
                                    <option value="17:04:00:AM">04:00 AM</option>
                                    <option value="18:04:15:AM">04:15 AM</option>
                                    <option value="19:04:30:AM">04:30 AM</option>
                                    <option value="20:04:45:AM">04:45 AM</option>
                                    <option value="21:05:00:AM">05:00 AM</option>
                                    <option value="22:05:15:AM">05:15 AM</option>
                                    <option value="23:05:30:AM">05:30 AM</option>
                                    <option value="24:05:45:AM">05:45 AM</option>
                                    <option value="25:06:00:AM">06:00 AM</option>
                                    <option value="26:06:15:AM">06:15 AM</option>
                                    <option value="27:06:30:AM">06:30 AM</option>
                                    <option value="28:06:45:AM">06:45 AM</option>
                                    <option value="29:07:00:AM">07:00 AM</option>
                                    <option value="30:07:15:AM">07:15 AM</option>
                                    <option value="31:07:30:AM">07:30 AM</option>
                                    <option value="32:07:45:AM">07:45 AM</option>
                                    <option value="33:08:00:AM">08:00 AM</option>
                                    <option value="34:08:15:AM">08:15 AM</option>
                                    <option value="35:08:30:AM">08:30 AM</option>
                                    <option value="36:08:45:AM">08:45 AM</option>
                                    <option value="37:09:00:AM">09:00 AM</option>
                                    <option value="38:09:15:AM">09:15 AM</option>
                                    <option value="39:09:30:AM">09:30 AM</option>
                                    <option value="40:09:45:AM">09:45 AM</option>
                                    <option value="41:10:00:AM">10:00 AM</option>
                                    <option value="42:10:15:AM">10:15 AM</option>
                                    <option value="43:10:30:AM">10:30 AM</option>
                                    <option value="44:10:45:AM">10:45 AM</option>
                                    <option value="45:11:00:AM">11:00 AM</option>
                                    <option value="46:11:15:AM">11:15 AM</option>
                                    <option value="47:11:30:AM">11:30 AM</option>
                                    <option value="48:11:45:AM">11:45 AM</option>
                                    <option value="49:12:00:PM">12:00 PM</option>
                                    <option value="50:12:15:PM">12:15 PM</option>
                                    <option value="51:12:30:PM">12:30 PM</option>
                                    <option value="52:12:45:PM">12:45 PM</option>
                                    <option value="53:01:00:PM">01:00 PM</option>
                                    <option value="54:01:15:PM">01:15 PM</option>
                                    <option value="55:01:30:PM">01:30 PM</option>
                                    <option value="56:01:45:PM">01:45 PM</option>
                                    <option value="57:02:00:PM">02:00 PM</option>
                                    <option value="58:02:15:PM">02:15 PM</option>
                                    <option value="59:02:30:PM">02:30 PM</option>
                                    <option value="60:02:45:PM">02:45 PM</option>
                                    <option value="61:03:00:PM">03:00 PM</option>
                                    <option value="62:03:15:PM">03:15 PM</option>
                                    <option value="63:03:30:PM">03:30 PM</option>
                                    <option value="64:03:45:PM">03:45 PM</option>
                                    <option value="65:04:00:PM">04:00 PM</option>
                                    <option value="66:04:15:PM">04:15 PM</option>
                                    <option value="67:04:30:PM">04:30 PM</option>
                                    <option value="68:04:45:PM">04:45 PM</option>
                                    <option value="69:05:00:PM">05:00 PM</option>
                                    <option value="70:05:15:PM">05:15 PM</option>
                                    <option value="71:05:30:PM">05:30 PM</option>
                                    <option value="72:05:45:PM">05:45 PM</option>
                                    <option value="73:06:00:PM">06:00 PM</option>
                                    <option value="74:06:15:PM">06:15 PM</option>
                                    <option value="75:06:30:PM">06:30 PM</option>
                                    <option value="76:06:45:PM">06:45 PM</option>
                                    <option value="77:07:00:PM">07:00 PM</option>
                                    <option value="78:07:15:PM">07:15 PM</option>
                                    <option value="79:07:30:PM">07:30 PM</option>
                                    <option value="80:07:45:PM">07:45 PM</option>
                                    <option value="81:08:00:PM">08:00 PM</option>
                                    <option value="82:08:15:PM">08:15 PM</option>
                                    <option value="83:08:30:PM">08:30 PM</option>
                                    <option value="84:08:45:PM">08:45 PM</option>
                                    <option value="85:09:00:PM">09:00 PM</option>
                                    <option value="86:09:15:PM">09:15 PM</option>
                                    <option value="87:09:30:PM">09:30 PM</option>
                                    <option value="88:09:45:PM">09:45 PM</option>
                                    <option value="89:10:00:PM">10:00 PM</option>
                                    <option value="90:10:15:PM">10:15 PM</option>
                                    <option value="91:10:30:PM">10:30 PM</option>
                                    <option value="92:10:45:PM">10:45 PM</option>
                                    <option value="93:11:00:PM">11:00 PM</option>
                                    <option value="94:11:15:PM">11:15 PM</option>
                                    <option value="95:11:30:PM">11:30 PM</option>
                                    <option value="96:11:45:PM">11:45 PM</option>
                                        </select>
                            </div>
                        </div>            
                        
                            <div class="col-sm-3 col-xs-4">
                                <div class="form-group">
                                    <h3 class="text-orange">{{timeDiff}}</h3>
                                </div>
                            </div>

                        </div>
                                <div class="row mtm">
                <div class="col-sm-12 col-xs-12">
                    <button class="btn btn-lg btn-primary"  (click) = "ScheduleMeeting()">SCHEDULE</button>
                </div>
                            
            
            
            </div>
            
            
            
            
            
                             <div class="row mtm">
                                    <div class="col-sm-12 col-xs-12">
                                      <ul>
                                        <li>Are you sure you are adding an OVERNIGHT shift? TIME IN appears to be later than TIME OUT
</li>
                                          <li>OVER-SCHEDULED: Days you have checked EXCEEDED authorized
</li>
                                          <li>OVER-SCHEDULED: 16 hours selected EXCEEDED authorized 0 hours
</li>
                                        </ul>
                                    </div>
                         
                
                             </div>  
            <div class="row mtm">
              <div class="col-sm-12 col-xs-12">
                <p>PAYER, RATE, AUTHORIZATION</p>
                  <p><a href="" class="text-orange text-14"><strong>Click here select authorization</strong></a></p>
                  <p><a href=""><i class="fa fa-plus-square"></i> Add Notes</a></p>
                  </div>
        </div>
            </div>
        </div>
                  
            
        <div class="row mtm">
                 <div class="col-sm-6 col-xs-12">
                       <div class="panel">
                         <div class="panel-body" style="min-height: 320px">		
                                        <div class="form-group">
                                            <p>CLIENT</p>
                                          <hr class="mtn mbn">
                                          <h2>{{ clientmeetingList[0].firstName }} , {{ clientmeetingList[0].lastName }}</h2>
                                          <p class="text-orange">ID: 137957</p>
                                          <p><i class="fa fa-map-marker text-orange large-txt"></i></p>

                                            <p>
                                                
                                                {{ clientmeetingList[0].city }}
                                                {{ clientmeetingList[0].cState }}
                                                {{ clientmeetingList[0].country }} {{ clientmeetingList[0].zipCode }}



                                            </p>
                                            <p>Phone: {{ clientmeetingList[0].cellPhone }}</p>
                                            <p>Phone: (252) 382-5137</p>
                                        



                                            <p>Coordinator: <strong>Ruano, Diana</strong></p>
                                            <p><a href=""><i class="fa fa-plus-square"></i> Select another case</a></p>
                                            
                   </div>
                                    </div>
            
                 </div>
                 </div>
             <div class="col-sm-6 col-xs-12">
                       <div class="panel">
                         <div class="panel-body" style="min-height: 320px">		
                                        <div class="form-group">
                                            <p>EMPLOYEE</p>
                                          <hr class="mtn mbn">
                                          <h2>OPEN CASE. Click here</h2>
                                          <p><i class="fa fa-map-marker text-orange large-txt"></i></p>
                                            <p>34 Steward St 08610 Hamilton NJ 08610</p>
                                            <p>Cell: (609) 861-8062</p>
                                            <p>Replacement <input type="checkbox"></p>
                                            
                                            
                   </div>
                                    </div>
            
                 </div>
                 </div>
            </div>
            <div class="row mtm">
                 <div class="col-sm-12 col-xs-12">
                     <p><a href=""><i class="fa fa-plus-square"></i> BILLING/PAYROLL</a></p>
                      <p><a href=""><i class="fa fa-plus-square"></i> ADDITIONAL ITEMS / CPT</a></p>
                      <p><a href=""><i class="fa fa-plus-square"></i> REQUIRED FORMS</a></p>
                        </div>
</div> 
        </div>
</div>









