@import '../../../../variables';

.client-event-container {
    width: 100vw;
    border: 1px solid $darkgray;
    background-color: $background-color;
    .event-container {
        width: 98%;
        min-height: 40vh;
        margin: 1%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 5px;
        background-color: #fff;
    }

    .event-container-half {
        min-height: 40vh;
        width: 48%;
        margin: 1%;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: #fff;
    }

    .container-header {
        font-weight: bold;
        font-size: 12px;
        color: $textGray;
        border-bottom: 1px solid rgb(209, 209, 209);
        margin: 10px;
    }

    .name-header,
    .time-header {
        font-size: 2vw;
        font-weight: normal;
        color: $darkgray;
        padding-left: $padding-content;
    }

    .time-header {
        color: $mainColor;
    }

    .time-section {
        padding-left: $padding-content;
        margin-top: 30px;

        div {
            width: 50%;
        }

        p {
            padding-right: 10px;
            display: inline-block;
            font-weight: bold;
        }

        .date {
            font-size: 16px;

        }

        .time-text {
            color: $darkgray;
            font-size: 14px;
            padding-left: $padding-content;
        }

        .date:nth-of-type(2) {
            color: $mainColor;
            font-weight: normal;
        }

        p:nth-of-type(6) {
            padding-left: $padding-content;
            font-size: 22px;
            color: black;
        }

        select, input[type=date]{
            padding: 5px;
            box-shadow: inset 5px 5px 5px rgba(189, 189, 189, 0.6);
            border-radius: 5px;
            font-weight: bolder;
            border-color: rgb(175, 175, 175);
        }

        button {
            margin: 20px;
            padding: 10px;
            font-size: 14px;
            font-weight: bold;
            text-decoration: uppercase;
            border: 0;
            background-color: rgb(233, 233, 233);
            color: $darkgray;
        }
        .errormessage{
            font-size: 12px;
            display: block;
            color: red;
            padding-left: $padding-content;
        }



    }

    .notes {
        margin: $padding-content;
        color: $textGray;
        font-size: 12px;
        font-weight: bold;

        i {
            border: 1px solid $textGray;
        }
    }

    .click-here {
        padding-left: 20px;
        font-weight: bold;
        font-size: 12px;
        color: $mainColor;
    }

    .client-details {
        p {
            font-size: 12px;
            padding-left: $padding-content;
        }

        img {
            width: 20px;
            height: 20px;
            margin-left: $padding-content;
            margin-bottom: 10px;
        }

        p.id {
            color: $textGray;
        }
        .address{
            margin-right: 20px;
        }
    }

    .employee-detail {
        p {
            font-weight: bold;
            color: $textGray;
            font-size: 12px;
            padding-left: $padding-content;
            padding-top: 10%;
        }
    }
    .color-black{
        color: black;
        i {
            border: 1px solid black;
        }
    }
}

@media(max-width: 600px) {
    .event-container {
        width: 96% !important;
    }
    .event-container-half {
        width: 96vw !important;
    }

    .container-section {
        flex-direction: column;
    }

    .time-section {
        div:nth-of-type(1){
            width: 65% !important;
        }
        p.time-text {
            padding: 0 !important;
        }

        select {
            margin-left: 10px;
        }
    }
}